<% provide(:title, "Inicio de Sesión") %>

<h1 style="color: #5981B8">Sistema de Apoyo para la Elaboración de Propuestas</h1>

<h3 style="text-align: center">Inicio de Sesión</h3>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label "Correo Electrónico" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label "Contraseña" %>
      <%= f.password_field :password, class: 'form-control' %>

      <br>
      <%= f.submit "Iniciar Sesión", class: "btn btn-primary" %>
    <% end %>

    <br>
    <%=link_to "Recuperar Contraseña", new_password_reset_path %>

  </div>
</div>