<% provide(:title, 'Recuperar Contraseña') %>
<h1>Recuperar Contraseña</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:user, url: {action: "change_password", controller: "password_resets"}) do |f| %>

      <%= f.hidden_field :user_type, :value => @user_type %>
      <%= f.hidden_field :email, :value => @user.email %>

      <%= f.label :password, "Nueva Contraseña" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmación Nueva Contraseña" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <%= f.submit "Modificar contraseña", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>