<% provide(:title, "Recuperar Contraseña") %>

<h1 style="color: #5981B8">Sistema de Apoyo para la Elaboración de Propuestas</h1>

<h3 style="text-align: center">Recuperar Contraseña</h3>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>

      <%= f.label "Correo Electrónico" %>
      <%= f.email_field :email, class: 'form-control' %>

      <br>
      <%= f.submit "Recuperar Contraseña", class: "btn btn-primary" %>
    <% end %>

    <br>
    <%=link_to "Regresar", controller: "sessions", action: "new" %>


  </div>
</div>