<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Analizar Evaluación del sistema para Planteamiento de Problema de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Analizar Evaluación del
  sistema para Planteamiento de Problema de Propuesta de Trabajo de Grado</h1>


<table>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8; width: 180px">
      <b>Planteamiento de Problema</b>
    </td>
    <td><%= @approach.content %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Fecha</b></td>
    <td><%= @approach.created_at.strftime("%F") %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">
      <b>Evaluación del Sistema</b></td>
    <td><%= @approach.feeling %></td>
  </tr>

</table>

<%= form_for(:approach, url: confirm_approach_teacher_submit_evaluation_path) do |f| %>

  El sistema ha determinado que su evaluación fue
  <font color="blue"><b><%= @approach.feeling %></b></font> por favor seleccione de la lista
  inferior el
  valor que concidera es el correcto, si cree que la evaluación obtenida es correcta no hace falta cambiar su
  evaluación en la sección inferior

  <table>

    <tr style="height: 40px">
      <td><%= f.label "Evaluación" %></td>
      <td><%= f.select(:teacher_feeling, options_for_select([['Positivo', 'Positivo'], ['Negativo', 'Negativo'], ['Neutral', 'Neutral']], :selected => @approach.feeling)) %>
      </td>
    </tr>
    <tr>
      <td><br></td>
    </tr>

    <%= f.hidden_field :id, :value => @approach.id %>

    <tr style="height: 40px">
      <td><%= f.submit "Enviar Evaluación", {:class => 'btn btn-success', :style => 'width:300px;'} %></td>
    </tr>

  </table>

  <%= f.hidden_field :id, :value => @approach.id %>

<% end %>