<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Analizar Evaluación del sistema para Objetivos Específicos de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Analizar Evaluación del
  sistema para Objetivos Específicos
  de
  Propuesta
  de Trabajo de Grado</h1>


<table id="ObjetivosTabla" border="1">
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Objetivos</b></td>
  </tr>
  <% if ((@thesis.specifics.to_s != "") && (@thesis.specifics.to_s != " ")) %>

    <% @words = @thesis.specifics.split("*") %>
    <% @words.each do |word| %>

      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><%= word %></td>
      </tr>

    <% end %>

  <% end %>
</table>

<%= form_for(:specific, url: confirm_specific_purpose_teacher_submit_evaluation_path) do |f| %>

  El sistema ha determinado que su evaluación fue
  <font color="blue"><b><%= @specificL.first.feeling %></b></font> por favor seleccione de la lista
  inferior el
  valor que concidera es el correcto, si cree que la evaluación obtenida es correcta no hace falta cambiar su
  evaluación en la sección inferior

  <table>

    <tr style="height: 40px">
      <td><%= f.label "Evaluación" %></td>
      <td><%= f.select(:teacher_feeling, options_for_select([['Positivo', 'Positivo'], ['Negativo', 'Negativo'], ['Neutral', 'Neutral']], :selected => @specificL.first.feeling)) %>
      </td>
    </tr>
    <tr>
      <td><br></td>
    </tr>

    <%= f.hidden_field :version, :value => @specificL.first.version %>

    <tr style="height: 40px">
      <td><%= f.submit "Enviar Evaluación", {:class => 'btn btn-success', :style => 'width:300px;'} %></td>
    </tr>

  </table>

<% end %>
