<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Historial de Planteamientos del Problema") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Historial de Planteamientos
  del Problema</h1>

<table>
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Planteamiento del Problema</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Fecha</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Estado</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Evaluación</b>
    </td>
    <td style
            ="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff"></b></td>
  </tr>

  <% @approach.each do |approach| %>

    <tr style="border: black 2px solid; height: 80px;text-align: center;">
      <% if approach.content.length >= 200 %>

        <td style="border: black 1px solid"><b><%= approach.content[0..200] %> ...</b></td>

      <% else %>

        <td style="border: black 1px solid"><b><%= approach.content %></b></td>

      <% end %>
      <td style="border: black 1px solid"><%= approach.created_at.strftime("%F") %></td>
      <td style="border: black 1px solid"><%= approach.status %></td>
      <td style="border: black 1px solid"><%= approach.teacher_feeling %></td>

      <% if approach.status == "Derogado" %>

        <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :thesis, :action => :show_approach, :approach_id => approach.id}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

      <% else %>

        <td style="border: black 1px solid"><%= link_to "Editar", {:controller => :thesis, :action => :update_approach, :approach_id => approach.id, :approach_counter => "0"}, {:class => 'btn btn-success', :style => 'width:100px;'} %></td>


      <% end %>

    </tr>

  <% end %>

</table>

<br>
<br>

<%= link_to "Regresar", {:controller => :thesis, :action => :index_student}, {:class => 'btn btn-info'} %>


