<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Historial de Títulos") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Historial de Títulos</h1>

<table>
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Título</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Fecha</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Estado</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Evaluación</b>
    </td>
    <td style
            ="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff"></b></td>
  </tr>

  <% @titles.each do |title| %>

    <tr style="border: black 2px solid; height: 80px;text-align: center;">
      <td style="border: black 1px solid"><b><%= title.content %></b></td>
      <td style="border: black 1px solid"><%= title.created_at.strftime("%F") %></td>
      <td style="border: black 1px solid"><%= title.status %></td>
      <td style="border: black 1px solid"><%= title.teacher_feeling %></td>
      <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :thesis, :action => :show_title_admin, :title_id => title.id}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>


    </tr>

  <% end %>

</table>


