<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Selección de Profesor") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Modificar de Tutor para
  Propuesta</h1>

<br>
Profesor Tutor Actual
<br>

<% if @teacherThesis != nil %>

  <%= @teacherThesis.first_name %> <%= @teacherThesis.last_name %>

<% else %>

  ---

<% end %>

<% if @teachersTopics.count != 0 %>

  <h1>Basado en tu contenido, se recomienda alguno de los siguientes Profesores como tu Tutor de Trabajo de Grado.
    Selecciona el que desees de la lista.</h1>

  <table>
    <tr style="border: black 2px solid; height: 40px;">
      <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Profesor</b></td>
      <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></td>
    </tr>
    <% @teachersTopics.each do |teacherTopic| %>

      <% @teachers.each do |teacher| %>

        <% if teacherTopic == teacher.id %>

          <tr style="border: black 2px solid; height: 40px;text-align: center;">
            <td style="border: black 1px solid"><%= teacher.first_name %> <%= teacher.last_name %></td>
            <td style="border: black 1px solid"><%= link_to "Enviar Solicitud", {:controller => :teachers, :action => :edit_student_request_thesis, :teacher_id => teacher.id, :thesis_id => @thesisId, :student_id => @studentId}, :class => 'btn btn-info' %></td>
          </tr>

        <% end %>

      <% end %>


    <% end %>
  </table>

<% else %>

  <h1>Ningún profesor ha sido detectado para los temas de su propuesta</h1>


<% end %>

<br>
<h1>¿Deseas trabajar con algún profesor fuera de la lista? Seleccione de la siguiente lista</h1>

<table>
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Profesor</b></td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></td>
  </tr>
  <% @teachers.each do |teacher| %>

    <% @found = false %>

    <% @teachersTopics.each do |teacherTopic| %>

      <% if teacherTopic == teacher.id %>

        <% @found = true %>

      <% end %>

    <% end %>

    <% if @found == false %>

      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><%= teacher.first_name %> <%= teacher.last_name %></td>
        <td style="border: black 1px solid"><%= link_to "Enviar Solicitud", {:controller => :teachers, :action => :edit_student_request_thesis, :teacher_id => teacher.id, :thesis_id => @thesisId, :student_id => @studentId}, :class => 'btn btn-info' %></td>
      </tr>

    <% end %>

  <% end %>

</table>

