<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Historial de Objetivos Generales") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Historial de Objetivos
  Generales</h1>

<table>
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Objetivo General</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Fecha</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Estado</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Evaluación</b>
    </td>
    <td style
            ="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff"></b></td>
  </tr>

  <% @generalPurpose.each do |generalPurpose| %>

    <tr style="border: black 2px solid; height: 80px;text-align: center;">
      <td style="border: black 1px solid"><b><%= generalPurpose.content %></b></td>
      <td style="border: black 1px solid"><%= generalPurpose.created_at.strftime("%F") %></td>
      <td style="border: black 1px solid"><%= generalPurpose.status %></td>
      <td style="border: black 1px solid"><%= generalPurpose.teacher_feeling %></td>

      <% if generalPurpose.status == "Derogado" %>

        <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :thesis, :action => :show_general_purpose, :general_purpose_id => generalPurpose.id}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

      <% else %>

        <td style="border: black 1px solid"><%= link_to "Editar", {:controller => :thesis, :action => :update_general_purpose, :general_purpose_id => generalPurpose.id, :general_purpose_counter => "0"}, {:class => 'btn btn-success', :style => 'width:100px;'} %></td>


      <% end %>

    </tr>

  <% end %>

</table>

<br>
<br>

<%= link_to "Regresar", {:controller => :thesis, :action => :index_student}, {:class => 'btn btn-info'} %>


