<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Historial de Objetivos Específicos") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Historial de Objetivos
  Específicos</h1>

<table>
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Versión</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Fecha</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Número de Objetivos</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Estado</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Evaluación</b>
    </td>
    <td style
            ="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff"></b></td>
  </tr>

  <% @version = 0 %>
  <% @specificPurposes.each do |specificPurpose| %>

    <% if specificPurpose.version != @version %>
      <% @version = specificPurpose.version %>

      <tr style="border: black 2px solid; height: 80px;text-align: center;">
        <td style="border: black 1px solid"><b><%= specificPurpose.version %></b></td>
        <td style="border: black 1px solid"><%= specificPurpose.created_at.strftime("%F") %></td>
        <td style="border: black 1px solid"><%= @specificPurposesCounts[@version] %></td>
        <td style="border: black 1px solid"><%= specificPurpose.status %></td>
        <td style="border: black 1px solid"><%= specificPurpose.teacher_feeling %></td>
        <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :thesis, :action => :show_specific_admin, :version => specificPurpose.version}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>


      </tr>

    <% end %>

  <% end %>

</table>


