<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Historial de Objetivos Específicos") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Historial de Objetivos
  Específicos</h1>

<table>
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Versión</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Fecha</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Número de Objetivos</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Estado</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Evaluación</b>
    </td>
    <td style
            ="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff"></b></td>
  </tr>

  <% @version = 0 %>
  <% @specificPurposes.each do |specificPurpose| %>

    <% if specificPurpose.version != @version %>
      <% @version = specificPurpose.version %>

      <tr style="border: black 2px solid; height: 80px;text-align: center;">
        <td style="border: black 1px solid"><b><%= specificPurpose.version %></b></td>
        <td style="border: black 1px solid"><%= specificPurpose.created_at.strftime("%F") %></td>
        <td style="border: black 1px solid"><%= @specificPurposesCounts[@version] %></td>
        <td style="border: black 1px solid"><%= specificPurpose.status %></td>
        <td style="border: black 1px solid"><%= specificPurpose.teacher_feeling %></td>

        <% if specificPurpose.status == "Derogado" %>

          <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :thesis, :action => :show_specific, :version => specificPurpose.version}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

        <% else %>

          <td style="border: black 1px solid"><%= link_to "Editar", {:controller => :thesis, :action => :update_specific, :version => specificPurpose.version, :specific_counter => "0"}, {:class => 'btn btn-success', :style => 'width:100px;'} %></td>


        <% end %>

      </tr>

    <% end %>

  <% end %>

</table>

<br>
<br>

<%= link_to "Regresar", {:controller => :thesis, :action => :index_student}, {:class => 'btn btn-info'} %>


