<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Evaluar Objetivos Específicos de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Evaluar Objetivos Específicos
  de
  Propuesta
  de Trabajo de Grado</h1>


<table id="ObjetivosTabla" border="1">
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Objetivos</b></td>
  </tr>
  <% if ((@thesis.specifics.to_s != "") && (@thesis.specifics.to_s != " ")) %>

    <% @words = @thesis.specifics.split("*") %>
    <% @words.each do |word| %>

      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><%= word %></td>
      </tr>

    <% end %>

  <% end %>
</table>

<%= form_for(:specific_purpose, url: specific_purpose_teacher_evaluation_path) do |f| %>

  <b>La evaluación en inglés no es olbigatoria, sin embargo se recomienda para una mejor evaluación del sistema</b>

  <table>

    <tr style="height: 40px">
      <td><%= f.label "Comentarios" %></td>
      <td><%= f.text_area(:feedback, size: '40x10') %></td>
    </tr>
    <tr style="height: 40px">
      <td><%= f.label "Comentarios en Inglés" %></td>
      <td><%= f.text_area(:feedback_english, size: '40x10') %></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.submit "Enviar Evaluación", {:class => 'btn btn-success', :style => 'width:300px;'} %></td>
    </tr>

  </table>

  <%= f.hidden_field :version, :value => @version %>

<% end %>

<br>
<br>

<%= link_to "Regresar", {:controller => :thesis, :action => :show_specific_purposes_detail, :id_thesis => @thesisId}, {:class => 'btn btn-info'} %>
