<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Evaluar Planteamiento del Problema de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Evaluar Planteamiento del
  Problema de Propuesta
  de Trabajo de Grado</h1>


<table>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8; width: 180px">
      <b>Planteamiento del Problema</b>
    </td>
    <td><%= @approach.content %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Fecha</b></td>
    <td><%= @approach.created_at.strftime("%F") %></td>
  </tr>

</table>

<%= form_for(:approach, url: approach_teacher_evaluation_path) do |f| %>

  <b>La evaluación en inglés no es olbigatoria, sin embargo se recomienda para una mejor evaluación del sistema</b>

  <table>

    <tr style="height: 40px">
      <td><%= f.label "Comentarios" %></td>
      <td><%= f.text_area(:feedback, size: '40x10') %></td>
    </tr>
    <tr style="height: 40px">
      <td><%= f.label "Comentarios en Inglés" %></td>
      <td><%= f.text_area(:feedback_english, size: '40x10') %></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.submit "Enviar Evaluación", {:class => 'btn btn-success', :style => 'width:300px;'} %></td>
    </tr>

  </table>

  <%= f.hidden_field :id, :value => @approach.id %>

<% end %>

<br>
<br>

<%= link_to "Regresar", {:controller => :thesis, :action => :show_approach_detail, :id_thesis => @approach.thesis_id}, {:class => 'btn btn-info'} %>
