<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Propuesta de Trabajo de Grado") %>
<h1>Propuesta de Trabajo de Grado</h1>


<%= form_for @thesis do |f| %>

  <%= render 'shared/error_thesis_messages' %>

  <table>
    <tr>
      <td><%= f.label "Título" %></td>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr>
      <td><%= f.label "Planteamiento de Problema" %></td>
      <td><%= f.text_area :approach %></td>
    </tr>

    <tr>
      <td><%= f.label "Objetivo General" %></td>
      <td><%= f.text_field :general_purpose %></td>
    </tr>

    <tr>
      <td><h3>Objetivos Específicos</h3></td>
    </tr>

    <input type="hidden" name="thesis[counter]" id="thesis_counter" value="0">

    <tr>
      <td><label>Objetivo Específico</label></td>
      <td><input type="text" name="specific[text]" id="specific_text"></td>
    </tr>

    <tr>
      <td>
        <input value="Agregar Objetivo Específico" class="btn btn-primary" data-disable-with="Agregar Objetivo Específico" onclick="insRow(document.getElementById('specific_text').value)">
      </td>
    </tr>

    <tr>
      <table id="ObjetivosTabla" border="1">
        <tr>
          <td>Objetivo</td>
        </tr>
        <tr>
          <td><input size=25 type="text" id="latbox"/></td>
          <td><input type="button" id="delPOIbutton" value="Eliminar" onclick="deleteRow(this)"/></td>
        </tr>
      </table>
    </tr>


    <tr>
      <td><%= f.submit "Registrar Propuesta de Trabajo de Grado", class: "btn btn-primary" %></td>
    </tr>

  </table>
<% end %>
