<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<script>

    function deleteRow(row) {

        var value = parseInt(document.getElementById('thesis_counter').value);

        if ((value == 0) || (value == 1)) {

            alert("Debe tener al menos un Objetivo Específico");

        } else {

            var i = row.parentNode.parentNode.rowIndex;
            document.getElementById('ObjetivosTabla').deleteRow(i);

            value = value - 1;
            document.getElementById('thesis_counter').value = value

            var x = document.getElementById('ObjetivosTabla');
            var len = x.rows.length;

            document.getElementById('specific_specifics').value = ""

            for (var index = 1; index < len; index++) {

                var row = x.rows[index]

                if (document.getElementById('specific_specifics').value == "") {

                    document.getElementById('specific_specifics').value = row.cells[0].getElementsByTagName('input')[0].value

                } else {

                    document.getElementById('specific_specifics').value = document.getElementById('specific_specifics').value + "*" + row.cells[0].getElementsByTagName('input')[0].value

                }


            }

        }


    }


    function insRow(respuesta) {

        var x = document.getElementById('ObjetivosTabla');
        var value = parseInt(document.getElementById('thesis_counter').value);

        if (respuesta != "") {


            var new_row = x.rows[1].cloneNode(true);
            var len = x.rows.length;

            var inp1 = new_row.cells[0].getElementsByTagName('input')[0];
            inp1.id += len;
            inp1.value = respuesta;
            x.appendChild(new_row);

            if (value == 0) {
                document.getElementById('ObjetivosTabla').deleteRow(1);

            }

            document.getElementById('specific_text').value = ""

            if (document.getElementById('specific_specifics').value == "") {

                document.getElementById('specific_specifics').value = respuesta

            } else {

                document.getElementById('specific_specifics').value = document.getElementById('specific_specifics').value + "*" + respuesta

            }

            value = value + 1;
            document.getElementById('thesis_counter').value = value

        } else {

            alert("Debe introducir un texto para el objetivo específico");

        }


    }

</script>

<% provide(:title, "Registrar Objetivos Específicos de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Registrar Objetivos
  Específicos de Propuesta
  de Trabajo de Grado</h1>

<% if @specificCounter.to_i >= 3 %>

  <table>
    <tr>
      <td><h3>Se han detectado dificultades para redactar los Objetivos Específicos, deseas realizar actividades
        recomendadas?</h3></td>
    </tr>

    <tr>
      <td>
        <h3><%= link_to "Actividades para Objetivos Específicos", {:controller => :activities, :action => :activities_category_student, :area => 3}, {:class => 'btn btn-info', :style => 'width:300px;'} %></h3>
      </td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

  </table>

<% end %>

<%= form_for(:specific, url: thesis_create_specific_path) do |f| %>

  <table>
    <tr style="height: 40px">
      <td><label>Objetivo Específico</label></td>
      <td><input type="text" name="specific[text]" id="specific_text" size="80"></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

    <tr>
      <td>
        <input value="Agregar Objetivo Específico" style="width: 300px" class="btn btn-primary" data-disable-with="Agregar Objetivo Específico" onclick="insRow(document.getElementById('specific_text').value)">
      </td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

    <% if ((@thesis.specifics.to_s != "") && (@thesis.specifics.to_s != " ")) %>

      <%= f.hidden_field :specifics, :value => @thesis.specifics %>

      <% @words = @thesis.specifics.split("*") %>
      <% @counter = 0 %>
      <% @words.each do |word| %>

        <% @counter = @counter + 1 %>

      <% end %>

      <input type="hidden" name="thesis[counter]" id="thesis_counter" value="<%= @counter %>">


    <% else %>

      <%= f.hidden_field :specifics, :value => "" %>
      <input type="hidden" name="thesis[counter]" id="thesis_counter" value="0">

    <% end %>

    <tr style="height: 40px">
      <table id="ObjetivosTabla" border="1">
        <tr style="border: black 2px solid; height: 40px;">
          <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
            <b style="color: #ffffff">Objetivo</b></td>
        </tr>
        <% if ((@thesis.specifics.to_s != "") && (@thesis.specifics.to_s != " ")) %>

          <% @words = @thesis.specifics.split("*") %>
          <% @words.each do |word| %>

            <tr>
              <td><input size=25 type="text" id="latbox" value="<%= word %>"/></td>
              <td>
                <input type="button" id="delPOIbutton" value="Eliminar" class="btn btn-danger" onclick="deleteRow(this)"/>
              </td>
            </tr>

          <% end %>

        <% else %>

          <tr>
            <td><input size=25 type="text" id="latbox"/></td>
            <td>
              <input type="button" id="delPOIbutton" value="Eliminar" class="btn btn-danger" onclick="deleteRow(this)"/>
            </td>
          </tr>

        <% end %>
      </table>
    </tr>

    <%= f.hidden_field :specificCounter, :value => @specificCounter %>
    <%= f.hidden_field :thesisId, :value => @thesisId %>


    <tr>
      <td><br></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.submit "Registrar Objetivos Específicos", {:class => 'btn btn-success', :style => 'width:300px;'} %></td>
    </tr>

  </table>
<% end %>
