<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Registrar Planteamiento del Problema de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Registrar Planteamiento del
  Problema de Propuesta
  de Trabajo de Grado</h1>

<% if @approachCounter.to_i >= 3 %>

  <table>
    <tr>
      <td><h3>Se han detectado dificultades para redactar el Planteamiento del Problema, deseas realizar actividades
        recomendadas?</h3></td>
    </tr>

    <tr>
      <td>
        <h3><%= link_to "Actividades para Planteamiento del Problema", {:controller => :activities, :action => :activities_category_student, :area => 1}, {:class => 'btn btn-info', :style => 'width:300px;'} %></h3>
      </td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

  </table>

<% end %>

<%= form_for(:approach, url: thesis_create_approach_path) do |f| %>

  <table>
    <tr style="height: 40px">
      <td><%= f.label "Planteamiento del Problema" %></td>
      <td><%= f.text_area(:content, size: '80x30') %></td>
    </tr>

    <%= f.hidden_field :approachCounter, :value => @approachCounter %>
    <%= f.hidden_field :thesisId, :value => @thesisId %>


    <tr>
      <td><br></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.submit "Registrar Planteamiento del Problema", {:class => 'btn btn-success', :style => 'width:300px;'} %></td>
    </tr>

  </table>
<% end %>
