<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Registrar Objetivo General de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Registrar Objetivo General de
  Propuesta
  de Trabajo de Grado</h1>

<% if @generalPurposeCounter.to_i >= 3 %>

  <table>
    <tr>
      <td><h3>Se han detectado dificultades para redactar el Objetivo General, deseas realizar actividades
        recomendadas?</h3></td>
    </tr>

    <tr>
      <td>
        <h3><%= link_to "Actividades para Objetivo General", {:controller => :activities, :action => :activities_category_student, :area => 2}, {:class => 'btn btn-info', :style => 'width:300px;'} %></h3>
      </td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

  </table>

<% end %>

<%= form_for(:general_purpose, url: thesis_create_general_purpose_path) do |f| %>

  <table>
    <tr style="height: 40px">
      <td><%= f.label "Objetivo General" %></td>
      <td><%= f.text_field :content, :size => "80" %></td>
    </tr>

    <%= f.hidden_field :generalPurposeCounter, :value => @generalPurposeCounter %>
    <%= f.hidden_field :thesisId, :value => @thesisId %>


    <tr>
      <td><br></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.submit "Registrar Objetivo General", {:class => 'btn btn-success', :style => 'width:200px;'} %></td>
    </tr>

  </table>
<% end %>
