<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Registrar Título de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Registrar Título de Propuesta
  de Trabajo de Grado</h1>

<% if @titleCounter.to_i >= 3 %>

  <table>
    <tr>
      <td><h3>Se han detectado dificultades para redactar el Título, deseas realizar actividades recomendadas?</h3></td>
    </tr>

    <tr>
      <td><h3><%= link_to "Actividades para Título", {:controller => :activities, :action => :activities_category_student, :area => 0}, {:class => 'btn btn-info', :style => 'width:300px;'} %></h3>
      </td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

  </table>

<% end %>

<%= form_for(:title, url: thesis_create_title_path) do |f| %>

  <table>
    <tr style="height: 40px">
      <td><%= f.label "Título" %></td>
      <td><%= f.text_field :content, :size => "80" %></td>
    </tr>

    <%= f.hidden_field :titleCounter, :value => @titleCounter %>
    <%= f.hidden_field :thesisId, :value => @thesisId %>


    <tr>
      <td><br></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.submit "Registrar Título", {:class => 'btn btn-success', :style => 'width:200px;'} %></td>
    </tr>

  </table>
<% end %>
