<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Consultar Título de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Consultar Título de Propuesta
  de Trabajo de Grado</h1>


<table>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8; width: 180px"><b>Título</b>
    </td>
    <td><%= @title.content %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Fecha</b></td>
    <td><%= @title.created_at.strftime("%F") %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Estado</b></td>
    <td><%= @title.status %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Evaluación Recibida</b>
    </td>
    <td><%= @title.teacher_feeling %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Comentarios</b>
    </td>
    <td><%= @title.feedback %></td>
  </tr>

</table>

<br>
<br>

<%= link_to "Regresar", {:controller => :thesis, :action => :edit_title, :thesis_id => @title.thesis_id}, {:class => 'btn btn-info'} %>
