<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Consultar Objetivos Específicos de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Consultar Objetivos
  Específicos de Propuesta
  de Trabajo de Grado</h1>

<table>

  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Fecha</b></td>
    <td><%= @createdAt %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Estado</b></td>
    <td><%= @status %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">
      <b>Evaluación Recibida</b>
    </td>
    <td><%= @teacherFeeling %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Comentarios</b>
    </td>
    <td><%= @fedback %></td>
  </tr>

  <% if ((@thesis.specifics.to_s != "") && (@thesis.specifics.to_s != " ")) %>

    <% @words = @thesis.specifics.split("*") %>
    <% @counter = 0 %>
    <% @words.each do |word| %>

      <% @counter = @counter + 1 %>

    <% end %>

    <input type="hidden" name="thesis[counter]" id="thesis_counter" value="<%= @counter %>">


  <% else %>

    <input type="hidden" name="thesis[counter]" id="thesis_counter" value="0">

  <% end %>

  <tr style="height: 40px">
    <table id="ObjetivosTabla" border="1">
      <tr style="border: black 2px solid; height: 40px;">
        <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
          <b style="color: #ffffff">Objetivos</b></td>
      </tr>
      <% if ((@thesis.specifics.to_s != "") && (@thesis.specifics.to_s != " ")) %>

        <% @words = @thesis.specifics.split("*") %>
        <% @words.each do |word| %>

          <tr style="border: black 2px solid; height: 40px;text-align: center;">
            <td style="border: black 1px solid"><%= word %></td>
          </tr>

        <% end %>

      <% end %>
    </table>
  </tr>

</table>

<br>
<br>

<%= link_to "Regresar", {:controller => :thesis, :action => :show_specific_purposes_detail, :id_thesis => @thesisId}, {:class => 'btn btn-info'} %>
