<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Propuesta de Trabajo de
  Grado</h1>

<% if @thesis.nil? %>

  <h1>Aún no tienes Propuesta de Trabajo de Grado registrada</h1>
  <h1>¿Quieres comenzar?</h1>
  <br><br>
  <%= link_to "Registrar Propuesta de Trabajo de Grado", {:controller => :thesis, :action => :thesis_new_student}, {:style => 'color:#5981B8;'} %>
  <br><br>

<% else %>

  <table>
    <tr style="border: black 2px solid; height: 40px;">
      <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Sección</b>
      </td>
      <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Fecha</b>
      </td>
      <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Estado</b>
      </td>
      <td style
              ="border: black 1px solid; text-align: center; background: #5981B8; width: 350px;">
        <b style="color: #ffffff"></b></td>
    </tr>

    <% if @titles != nil %>
      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><b>Título</b></td>
        <td style="border: black 1px solid"><%= @titles.created_at.strftime("%F") %></td>
        <td style="border: black 1px solid"><%= @titles.teacher_feeling %></td>
        <td style="border: black 1px solid"><%= link_to "Consultar Título", {:controller => :thesis, :action => :edit_title_admin, :thesis_id => @thesis.id}, {:class => 'btn btn-info', :style => 'width:280px;'} %></td>
      </tr>
    <% else %>
      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><b>Título</b></td>
        <td style="border: black 1px solid">NA</td>
        <td style="border: black 1px solid">NA</td>
        <td style="border: black 1px solid">NA</td>
      </tr>
    <% end %>

    <% if @approach != nil %>
      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><b>Planteamiento del Problema</b></td>
        <td style="border: black 1px solid"><%= @approach.created_at.strftime("%F") %></td>
        <td style="border: black 1px solid"><%= @approach.teacher_feeling %></td>
        <td style="border: black 1px solid"><%= link_to "Consultar Planteamiento del Problema", {:controller => :thesis, :action => :edit_approach_admin, :thesis_id => @thesis.id}, {:class => 'btn btn-info', :style => 'width:280px;'} %></td>
      </tr>
    <% else %>
      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><b>Planteamiento del Problema</b></td>
        <td style="border: black 1px solid">NA</td>
        <td style="border: black 1px solid">NA</td>
        <td style="border: black 1px solid">NA</td>
      </tr>
    <% end %>

    <% if @generalPurpose != nil %>
      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><b>Objetivo General</b></td>
        <td style="border: black 1px solid"><%= @generalPurpose.created_at.strftime("%F") %></td>
        <td style="border: black 1px solid"><%= @generalPurpose.teacher_feeling %></td>
        <td style="border: black 1px solid"><%= link_to "Consultar Objetivo General", {:controller => :thesis, :action => :edit_general_purpose_admin, :thesis_id => @thesis.id}, {:class => 'btn btn-info', :style => 'width:280px;'} %></td>
      </tr>
    <% else %>
      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><b>Objetivo General</b></td>
        <td style="border: black 1px solid">NA</td>
        <td style="border: black 1px solid">NA</td>
        <td style="border: black 1px solid">NA</td>
      </tr>
    <% end %>

    <% if @specificPurpose != nil %>
      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><b>Objetivos Específicos</b></td>
        <td style="border: black 1px solid"><%= @specificPurpose.created_at.strftime("%F") %></td>
        <td style="border: black 1px solid"><%= @specificPurpose.teacher_feeling %></td>
        <td style="border: black 1px solid"><%= link_to "Consultar Objetivos Específicos", {:controller => :thesis, :action => :edit_specific_purposes_admin, :thesis_id => @thesis.id}, {:class => 'btn btn-info', :style => 'width:280px;'} %></td>
      </tr>
    <% else %>
      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><b>Objetivos Específicos</b></td>
        <td style="border: black 1px solid">NA</td>
        <td style="border: black 1px solid">NA</td>
        <td style="border: black 1px solid">NA</td>
      </tr>
    <% end %>
  </table>

  <br>
  <b>Profesor Tutor</b>
  <br>

  <% if @teacher != nil %>

    <%= @teacher.first_name %> <%= @teacher.last_name %>

  <% else %>

    ---

  <% end %>


<% end %>


