<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Consultar Planteamiento del Problema de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Consultar Planteamiento del
  Problema de Propuesta
  de Trabajo de Grado</h1>


<table>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8; width: 180px">
      <b>Planteamiento del Problema</b>
    </td>
    <td><%= @approach.content %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Fecha</b></td>
    <td><%= @approach.created_at.strftime("%F") %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Estado</b></td>
    <td><%= @approach.status %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Evaluación Recibida</b>
    </td>
    <td><%= @approach.teacher_feeling %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Comentarios</b>
    </td>
    <td><%= @approach.feedback %></td>
  </tr>

</table>

<br>
<br>

<%= link_to "Regresar", {:controller => :thesis, :action => :show_approach_detail, :id_thesis => @approach.thesis_id}, {:class => 'btn btn-info'} %>
