<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Consultar Objetivo General de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Consultar Objetivo General de
  Propuesta
  de Trabajo de Grado</h1>


<table>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8; width: 180px">
      <b>Objetivo General</b>
    </td>
    <td><%= @generalPurpose.content %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Fecha</b></td>
    <td><%= @generalPurpose.created_at.strftime("%F") %></td>
  </tr>

</table>

<br>
<br>

<%= link_to "Regresar a Propuesta", {:controller => :thesis, :action => :show_student_thesis, :id_thesis => @generalPurpose.thesis_id}, {:class => 'btn btn-info'} %>


<br>
<br>

<%= link_to "Aceptar Propuesta", {:controller => :thesis, :action => :teacher_response_thesis, :id_thesis => @generalPurpose.thesis_id, :response => 1}, {:class => 'btn btn-success'} %>

<br>
<br>

<%= link_to "Rechazar Propuesta", {:controller => :thesis, :action => :teacher_response_thesis, :id_thesis => @generalPurpose.thesis_id, :response => 0}, :class => 'btn btn-danger' %>