<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Consultar Objetivo General de Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Consultar Objetivo General de
  Propuesta
  de Trabajo de Grado</h1>


<table>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8; width: 180px">
      <b>Objetivo General</b>
    </td>
    <td><%= @generalPurpose.content %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Fecha</b></td>
    <td><%= @generalPurpose.created_at.strftime("%F") %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Estado</b></td>
    <td><%= @generalPurpose.status %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Evaluación Recibida</b>
    </td>
    <td><%= @generalPurpose.teacher_feeling %></td>
  </tr>
  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Comentarios</b>
    </td>
    <td><%= @generalPurpose.feedback %></td>
  </tr>

</table>

<br>
<br>

<%= link_to "Regresar", {:controller => :thesis, :action => :edit_general_purpose, :thesis_id => @generalPurpose.thesis_id}, {:class => 'btn btn-info'} %>
