<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<script>

    function deleteRow(row) {

        var value = parseInt(document.getElementById('thesis_counter').value);

        var i = row.parentNode.parentNode.rowIndex;
        document.getElementById('ObjetivosTabla').deleteRow(i);

        value = value - 1;
        document.getElementById('thesis_counter').value = value

        var x = document.getElementById('ObjetivosTabla');
        var len = x.rows.length;

        document.getElementById('thesis_specifics').value = ""

        for (var index = 1; index <= len; index++) {

            var row = x.rows[index]


            if (document.getElementById('thesis_specifics').value == "") {

                document.getElementById('thesis_specifics').value = row.cells[0].getElementsByTagName('input')[0].value

            } else {

                document.getElementById('thesis_specifics').value = document.getElementById('thesis_specifics').value + "*" + row.cells[0].getElementsByTagName('input')[0].value

            }


        }


    }


    function insRow(respuesta) {

        var x = document.getElementById('ObjetivosTabla');
        var value = parseInt(document.getElementById('thesis_counter').value);

        if (respuesta != "") {


            var new_row = x.rows[1].cloneNode(true);
            var len = x.rows.length;

            var inp1 = new_row.cells[0].getElementsByTagName('input')[0];
            inp1.id += len;
            inp1.value = respuesta;
            x.appendChild(new_row);

            if (value == 0) {
                document.getElementById('ObjetivosTabla').deleteRow(1);

            }

            document.getElementById('specific_text').value = ""

            if (document.getElementById('thesis_specifics').value == "") {

                document.getElementById('thesis_specifics').value = respuesta

            } else {

                document.getElementById('thesis_specifics').value = document.getElementById('thesis_specifics').value + "*" + respuesta

            }

            value = value + 1;
            document.getElementById('thesis_counter').value = value

        } else {

            alert("Debe introducir un texto para el objetivo específico");

        }


    }

</script>


<% provide(:title, "Propuesta de Trabajo de Grado") %>
<h1>Propuesta de Trabajo de Grado</h1>

<% if @titleCounter.to_i >= 3 %>

  <table>
    <tr>
      <td><h3>Se han detectado dificultades para redactar el Título, deseas realizar actividades recomendadas?</h3></td>
    </tr>

    <tr>
      <td>
        <h3><%= link_to "Actividades para Título", {:controller => :activities, :action => :activities_category_student, :area => 0, :class => 'btn btn-info'}, {:class => 'btn btn-info', :style => 'width:300px;'} %></h3>
      </td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

  </table>

<% end %>

<% if @approachCounter.to_i >= 3 %>

  <table>
    <tr>
      <td><h3>Se han detectado dificultades para redactar el Planteamiento del Problema, deseas realizar actividades
        recomendadas?</h3></td>
    </tr>

    <tr>
      <td>
        <h3><%= link_to "Actividades para Planteamiento de Problema", {:controller => :activities, :action => :activities_category_student, :area => 1}, {:class => 'btn btn-info', :style => 'width:300px;'} %></h3>
      </td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

  </table>

<% end %>

<% if @generalPurposeCounter.to_i >= 3 %>

  <table>
    <tr>
      <td><h3>Se han detectado dificultades para redactar el Objetivo General, deseas realizar actividades
        recomendadas?</h3></td>
    </tr>

    <tr>
      <td>
        <h3><%= link_to "Actividades para Objetivo General", {:controller => :activities, :action => :activities_category_student, :area => 2}, {:class => 'btn btn-info', :style => 'width:300px;'} %></h3>
      </td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

  </table>

<% end %>

<% if @specificPurposeCounter.to_i >= 3 %>

  <table>
    <tr>
      <td><h3>Se han detectado dificultades para redactar los Objetivos Específicos, deseas realizar actividades
        recomendadas?</h3></td>
    </tr>

    <tr>
      <td>
        <h3><%= link_to "Actividades para Objetivos Específicos", {:controller => :activities, :action => :activities_category_student, :area => 3}, {:class => 'btn btn-info', :style => 'width:300px;'} %></h3>
      </td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

  </table>

<% end %>


<%= form_for(:thesis, url: thesis_create_student_path) do |f| %>

  <%= render 'shared/error_thesis_messages' %>

  <table>
    <tr>
      <td><%= f.label "Título" %></td>
      <td><%= f.text_field :title, :size => "80" %></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

    <tr>
      <td><%= f.label "Planteamiento de Problema" %></td>
      <td><%= f.text_area(:approach, size: '80x30') %></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

    <tr>
      <td><%= f.label "Objetivo General" %></td>
      <td><%= f.text_field(:general_purpose, size: '80') %></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

    <% if ((@thesis.specifics.to_s != "") && (@thesis.specifics.to_s != " ")) %>

      <%= f.hidden_field :specifics, :value => @thesis.specifics %>

      <% @words = @thesis.specifics.split("*") %>
      <% @counter = 0 %>
      <% @words.each do |word| %>

        <% @counter = @counter + 1 %>

      <% end %>

      <input type="hidden" name="thesis[counter]" id="thesis_counter" value="<%= @counter %>">


    <% else %>

      <%= f.hidden_field :specifics, :value => "" %>
      <input type="hidden" name="thesis[counter]" id="thesis_counter" value="0">

    <% end %>




    <%= f.hidden_field :titleCounter, :value => @titleCounter %>
    <%= f.hidden_field :approachCounter, :value => @approachCounter %>
    <%= f.hidden_field :generalCounter, :value => @generalPurposeCounter %>
    <%= f.hidden_field :specificCounter, :value => @specificPurposeCounter %>

    <tr>
      <td><h3>Objetivos Específicos</h3></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>


    <tr>
      <td><label>Objetivo Específico</label></td>
      <td><input type="text" name="specific[text]" id="specific_text" size="80"></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

    <tr>
      <td>
        <input value="Agregar Objetivo Específico" class="btn btn-primary" data-disable-with="Agregar Objetivo Específico" onclick="insRow(document.getElementById('specific_text').value)">
      </td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

    <tr>
      <table id="ObjetivosTabla" border="1">
        <tr>
          <td>Objetivo</td>
        </tr>
        <% if ((@thesis.specifics.to_s != "") && (@thesis.specifics.to_s != " ")) %>

          <% @words = @thesis.specifics.split("*") %>
          <% @words.each do |word| %>

            <tr>
              <td><input size=25 type="text" id="latbox" value="<%= word %>"/></td>
              <td><input type="button" id="delPOIbutton" value="Eliminar" onclick="deleteRow(this)"/></td>
            </tr>

          <% end %>

        <% else %>

          <tr>
            <td><input size=25 type="text" id="latbox"/></td>
            <td><input type="button" id="delPOIbutton" value="Eliminar" onclick="deleteRow(this)"/></td>
          </tr>

        <% end %>
      </table>
    </tr>

    <tr>
      <td><br></td>
    </tr>

    <tr>
      <td><%= f.submit "Registrar Propuesta de Trabajo de Grado", class: "btn btn-primary" %></td>
    </tr>

  </table>
<% end %>
