Para recuperar su contraseña ingrese en el siguiente link:

<%= edit_password_reset_path(@student.reset_token, email: @student.email, user_type: 1) %>

Si no ha generado la solicitud de reinicio de contraseña por favor ignore este correo.