<h1>Recuperación de Contraseña para SAEP</h1>

<p>Para recuperar su contraseña ingrese en el siguiente link:</p>

<%= link_to "Recuperar Contraseña", edit_password_reset_url(@admin.reset_token, email: @admin.email, user_type: 3) %>

<p>
  Si no ha generado la solicitud de reinicio de contraseña por favor ignore este correo.
</p>