<h1>Recuperación de Contraseña para SAEP</h1>

<p>Para recuperar su contraseña ingrese en el siguiente link:</p>

<%= link_to "Recuperar Contraseña", edit_password_reset_path(@student.reset_token, email: @student.email, user_type: 1) %>

<p>
  Si no ha generado la solicitud de reinicio de contraseña por favor ignore este correo.
</p>