Para recuperar su contraseña ingrese en el siguiente link:

<%= edit_password_reset_path(@teacher.reset_token, email: @teacher.email, user_type: 2) %>

Si no ha generado la solicitud de reinicio de contraseña por favor ignore este correo.