Para recuperar su contraseña ingrese en el siguiente link:

<%= edit_password_reset_url(@admin.reset_token, email: @admin.email, user_type: 3) %>

Si no ha generado la solicitud de reinicio de contraseña por favor ignore este correo.