<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Resultado") %>

Texto:
<%= @evaluacionEnEnglish %>
<br>
<br>
Evaluación Obtenida <%= @scoreVal %>
<br>
<br>
Keywords:
<br>
<br>
<table style="border: black 1px solid">
  <tr style="border: black 2px solid">
    <th>Keyword</th>
    <th>Valor</th>
  </tr>
  <% @text.keywords.top(50).each do |keyword| %>
    <tr style="border: black 1px solid">
      <td style="border: black 1px solid"><%= keyword.text %> </td>
      <td style="border: black 1px solid"> <%= keyword.weight %> </td>
    </tr>

  <% end %>

</table>

<% if @scoreVal == 1 %>
  Sentimiento Positivo


<% elsif @scoreVal == 0 %>

  Sentimiento Neutral

<% else %>

  Sentimiento Negativo

<% end %>
<br>