<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Editar información") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Editar información</h1>


<%= form_for(:student, url: update_student_path) do |f| %>

  <table>

    <%= f.hidden_field :id, :value => session[:user_id] %>

    <tr style="height: 40px">
      <td><%= f.label "Nombre" %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Apellido" %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Correo Electrónico" %></td>
      <td><%= f.email_field :email %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Carnet" %></td>
      <td><%= f.text_field :student_identification %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.submit "Actualizar Información", class: "btn btn-primary" %></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>


  </table>
<% end %>



<%= form_for(:student, url: update_student_password_path) do |f| %>

  <table>

    <%= f.hidden_field :id, :value => session[:user_id] %>

    <tr style="height: 40px">
      <td><%= f.label "Nueva Contraseña" %></td>
      <td><%= f.password_field :password %></td>
    </tr>


    <tr style="height: 40px">
      <td><%= f.label "Confirmar Nueva Contraseña" %></td>
      <td><%= f.password_field :password_confirm %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.submit "Actualizar Contraseña", class: "btn btn-primary" %></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>


  </table>
<% end %>
