<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Editar información de Usuario") %>
<h1>Editar información de Usuario</h1>


<%= form_for(:admin, url: update_admin_path) do |f| %>

  <%= render 'shared/error_admin_messages' %>

  <table>

    <%= f.hidden_field :id, :value => session[:user_id] %>

    <tr>
      <td><%= f.label "Correo Electrónico" %></td>
      <td><%= f.email_field :email %></td>
    </tr>

    <tr>
      <td><%= f.submit "Actualizar Correo Electrónico", class: "btn btn-primary" %></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>


  </table>
<% end %>



<%= form_for(:admin, url: update_admin_password_path) do |f| %>

  <%= render 'shared/error_admin_messages' %>

  <table>

    <%= f.hidden_field :id, :value => session[:user_id] %>

    <tr>
      <td><%= f.label "Nueva Contraseña" %></td>
      <td><%= f.password_field :password %></td>
    </tr>


    <tr>
      <td><%= f.label "Confirmar Nueva Contraseña" %></td>
      <td><%= f.password_field :password_confirm %></td>
    </tr>

    <tr>
      <td><%= f.submit "Actualizar Contraseña", class: "btn btn-primary" %></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>


  </table>
<% end %>
