<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Editar información de Usuario") %>
<h1>Editar información de Usuario</h1>


<%= form_for(:teacher, url: update_teacher_path) do |f| %>

  <table>

    <%= f.hidden_field :id, :value => session[:user_id] %>

    <tr style="height: 40px">
      <td><%= f.label "Nombre" %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Apellido" %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Correo Electrónico" %></td>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Cédula de Identidad" %></td>
      <td><%= f.select(:nationality, options_for_select([['Venezolano', 'Venezolano'], ['Extranjero', 'Extranjero']], :selected => @teacher.nationality)) %> </td>
      <td><%= f.text_field :identification_number %></td>
    </tr>

    <tr>
      <td><%= f.submit "Actualizar Información", class: "btn btn-primary" %></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>


  </table>
<% end %>



<%= form_for(:teacher, url: update_teacher_password_path) do |f| %>

  <table>

    <%= f.hidden_field :id, :value => session[:user_id] %>

    <tr>
      <td><%= f.label "Nueva Contraseña" %></td>
      <td><%= f.password_field :password %></td>
    </tr>


    <tr>
      <td><%= f.label "Confirmar Nueva Contraseña" %></td>
      <td><%= f.password_field :password_confirm %></td>
    </tr>

    <tr>
      <td><%= f.submit "Actualizar Contraseña", class: "btn btn-primary" %></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>


  </table>
<% end %>
