<% content_for(:sidebar) do %>
<%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Prueba de Natural Lenguaje") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:natural, url: internal_path) do |f| %>

      <%= f.label "Evaluación de Profesor" %>
      <%= f.text_area :evaluacion, class: 'form-control', cols: "30", rows: "10" %>

      <br>
      <%= f.submit "Probar Evaluación", class: "btn btn-primary" %>
    <% end %>

    <br>

  </div>
</div>