<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Estudiantes") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Consultar Estudiante</h1>


<%= form_for @student do |f| %>

  <%= render 'shared/error_student_messages' %>

  <table>
    <tr style="height: 40px">
      <td><%= f.label "Nombre" %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Apellido" %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Correo Electrónico" %></td>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Carnet" %></td>
      <td><%= f.text_field :student_identification %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.submit "Actualizar Estudiante", {:class => 'btn btn-info', :style => 'width:200px;'} %></td>
    </tr>

    <% if @thesis.nil? %>

      <tr style="height: 40px">
        <td><h3>Este estudiante aún no posee Propuesta de Trabajo de Grado</h3></td>
      </tr>

    <% else %>

      <tr style="height: 40px">
        <td><%= link_to "Consultar Propuesta", {:controller => :thesis, :action => :show_admin, :student_id => @student.id}, {:class => 'btn btn-primary', :style => 'width:200px;'} %></td>
      </tr>

    <% end %>

    <tr>

    </tr>

  </table>
<% end %>
