<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Estudiantes") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Estudiantes</h1>

<%= link_to "Registrar Estudiante", {:controller => :students, :action => :new}, {:class => 'btn btn-success'} %>
<br><br>

<%= will_paginate @students %>

<table>

  <tr style="border: black 2px solid; height: 40px;">
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Estudiante</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Carnet</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
  </tr>
  <% @students.each do |student| %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><%= student.first_name %> <%= student.last_name %></td>
      <td style="border: black 1px solid"> <%= student.student_identification %> </td>
      <td style="border: black 1px solid"> <%= link_to "Eliminar", student, method: :delete,
                                                       data: {confirm: "Confirma que desea eliminar este estudiante?"}, :class => 'btn btn-danger' %> </td>
      <td style="border: black 1px solid"> <%= link_to 'Consultar', edit_student_path(student), :class => 'btn btn-info' %> </td>
    </tr>


  <% end %>

</table>


<%= will_paginate @teachers %>
