<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Estudiantes") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Registrar Estudiante</h1>


<%= form_for @student do |f| %>

  <%= render 'shared/error_student_messages' %>

  <table>
    <tr style="height: 40px">
      <td><%= f.label "Nombre" %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Apellido" %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Correo Electrónico" %></td>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Carnet" %></td>
      <td><%= f.text_field :student_identification %></td>
    </tr>

    <%= f.hidden_field :password, :value => "1234" %>

    <tr style="height: 40px">
      <td><%= f.submit "Registrar Estudiante", {:class => 'btn btn-success', :style => 'width:200px;'} %></td>
    </tr>

  </table>
<% end %>
