<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Propuesta de Trabajo de Grado") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Propuesta de Trabajo de
  Grado</h1>

<table>
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Sección</b>
    </td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Fecha</b>
    </td>
    <td style
            ="border: black 1px solid; text-align: center; background: #5981B8; width: 350px;">
      <b style="color: #ffffff"></b></td>
  </tr>

  <% if @titles != nil %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><b>Título</b></td>
      <td style="border: black 1px solid"><%= @titles.created_at.strftime("%F") %></td>
      <td style="border: black 1px solid"><%= link_to "Consultar Título", {:controller => :thesis, :action => :show_title_detail, :id_thesis => @thesis.id}, {:class => 'btn btn-info', :style => 'width:280px;'} %></td>
    </tr>
  <% else %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><b>Título</b></td>
      <td style="border: black 1px solid">NA</td>
      <td style="border: black 1px solid">NA</td>
    </tr>
  <% end %>

  <% if @approach != nil %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><b>Planteamiento del Problema</b></td>
      <td style="border: black 1px solid"><%= @approach.created_at.strftime("%F") %></td>
      <td style="border: black 1px solid"><%= link_to "Consultar Planteamiento del Problema", {:controller => :thesis, :action => :show_approach_detail, :id_thesis => @thesis.id}, {:class => 'btn btn-info', :style => 'width:280px;'} %></td>
    </tr>
  <% else %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><b>Planteamiento del Problema</b></td>
      <td style="border: black 1px solid">NA</td>
      <td style="border: black 1px solid">NA</td>
    </tr>
  <% end %>

  <% if @generalPurpose != nil %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><b>Objetivo General</b></td>
      <td style="border: black 1px solid"><%= @generalPurpose.created_at.strftime("%F") %></td>
      <td style="border: black 1px solid"><%= link_to "Consultar Objetivo General", {:controller => :thesis, :action => :show_general_purpose_detail, :id_thesis => @thesis.id}, {:class => 'btn btn-info', :style => 'width:280px;'} %></td>
    </tr>
  <% else %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><b>Objetivo General</b></td>
      <td style="border: black 1px solid">NA</td>
      <td style="border: black 1px solid">NA</td>
    </tr>
  <% end %>

  <% if @specificPurpose != nil %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><b>Objetivos Específicos</b></td>
      <td style="border: black 1px solid"><%= @specificPurpose.created_at.strftime("%F") %></td>
      <td style="border: black 1px solid"><%= link_to "Consultar Objetivos Específicos", {:controller => :thesis, :action => :show_specific_purposes_detail, :id_thesis => @thesis.id}, {:class => 'btn btn-info', :style => 'width:280px;'} %></td>
    </tr>
  <% else %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><b>Objetivos Específicos</b></td>
      <td style="border: black 1px solid">NA</td>
      <td style="border: black 1px solid">NA</td>
    </tr>
  <% end %>
</table>

<br>
<br>

<%= link_to "Regresar", {:controller => :students, :action => :students_teacher_list}, {:class => 'btn btn-info'} %>




