<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Aspirantes a Tesista") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Aspirantes a Tesista</h1>

<% if @students.count != 0 %>

  <table>

    <tr style="border: black 2px solid; height: 40px;">
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Estudiante</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Carnet</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
    </tr>
    <% @students.each do |student| %>
      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><%= student.first_name %> <%= student.last_name %></td>
        <td style="border: black 1px solid"> <%= student.student_identification %> </td>
        <td style="border: black 1px solid"> <%= link_to 'Consultar', {:controller => :students, :action => :show_thesis_student, :id_student => student.id}, :class => 'btn btn-info' %> </td>
      </tr>


    <% end %>

  </table>

<% else %>

  <h3><font color="#82B36F"><b>No posee aspirantes a Tesista asociados</b></font></h3>

<% end %>
