<% if @student.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Se tienen <%= @student.errors.count %> errores.
    </div>
    <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>