<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Actividad Propuesta por Profesor") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Actividad Propuesta por
  Profesor</h1>


<%= render 'shared/error_activity_messages' %>

<table>

  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Área</b></td>

    <%= @value = "" %>

    <% if @activity.area == "Titulo"
         @value = "Título"
       elsif @activity.area == "Planteamiento"
         @value = "Planteamiento del Problema"
       elsif @activity.area == "Obj_General"
         @value = "Objetivo General"
       else
         @value = "Objetivos Específicos"
       end %>

    <td><%= @value %> </td>
  </tr>

  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Título</b></td>
    <td><%= @activity.title %></td>
  </tr>

  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Descripción</b></td>
    <td><%= @activity.description %></td>
  </tr>

  <tr style="height: 40px">
    <td><h3 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Respuestas</h3></td>
  </tr>

</table>

<%= will_paginate @answers %>

<table border="1">
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Respuesta</b></td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Correcta</b></td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff"># Respondida Correcta</b></td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff"># Respondida Incorrecta</b></td>
  </tr>
  <% @answers.each do |answer| %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><%= answer.text %></td>
      <td style="border: black 1px solid">
        <%= answer.correct %>
      </td>

      <td style="text-align: center;">

        <% if answer.correct_total.nil? %>

          0

        <% else %>

          <%= answer.correct_total %>


        <% end %>


      </td>

      <td style="text-align: center;">

        <% if answer.wrong_total.nil? %>

          0

        <% else %>

          <%= answer.wrong_total %>


        <% end %>


      </td>

    </tr>
  <% end %>
</table>

<br>

<%= link_to "Aprobar Actividad", {:controller => :teachers, :action => :update_teacher_activity_admin, :id => @activity.id, :status => "Aprobada", :origin => @origin}, {:class => 'btn btn-success', :style => 'width:200px;'} %>

<br><br>

<%= link_to "Rechazar Actividad", {:controller => :teachers, :action => :update_teacher_activity_admin, :id => @activity.id, :status => "Rechazada", :origin => @origin}, {:class => 'btn btn-danger', :style => 'width:200px;'} %>

