<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Actividades Propuestas por Profesor") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Actividades Propuestas por
  Profesor</h1>

<br><br>

<% if @activities.size == 0 %>

  <h1>Este profesor aún no posee actividades propuestas</h1>

<% else %>

  <%= will_paginate @activities %>

  <table>

    <tr style="border: black 2px solid; height: 40px;">
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Área</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Título</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Estado</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
    </tr>
    <% @activities.each do |activity| %>

      <%= @value = "" %>

      <% if activity.area == "Titulo"
           @value = "Título"
         elsif activity.area == "Planteamiento"
           @value = "Planteamiento del Problema"
         elsif activity.area == "Obj_General"
           @value = "Objetivo General"
         else
           @value = "Objetivos Específicos"
         end %>

      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><%= @value %> </td>
        <td style="border: black 1px solid"> <%= activity.title %> </td>
        <td style="border: black 1px solid"> <%= activity.status %> </td>
        <td style="border: black 1px solid"> <%= link_to "Consultar", {:controller => :teachers, :action => :activity_teacher_admin, :id => activity.id, :origin => 0}, {:class => 'btn btn-info', :style => 'width:100px;'} %> </td>
      </tr>


    <% end %>

  </table>

<% end %>


<%= will_paginate @activities %>
