<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Profesores") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Profesores</h1>

<%= link_to "Registrar Profesor", {:controller => :teachers, :action => :new}, {:class => 'btn btn-success'} %>
<br><br>

<%= will_paginate @teachers %>

<table>

  <tr style="border: black 2px solid; height: 40px;">
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Profesor</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Cédula de Identidad</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
  </tr>
  <% @teachers.each do |teacher| %>
    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><%= teacher.first_name %> <%= teacher.last_name %></td>
      <td style="border: black 1px solid"> <%= teacher.nationality %> - <%= teacher.identification_number %> </td>
      <td style="border: black 1px solid"> <%= link_to "Eliminar", teacher, method: :delete,
                                                       data: {confirm: "Confirma que desea eliminar este profesor?"}, :class => 'btn btn-danger' %> </td>
      <td style="border: black 1px solid"> <%= link_to 'Consultar', edit_teacher_path(teacher), :class => 'btn btn-info' %> </td>
    </tr>


  <% end %>

</table>


<%= will_paginate @teachers %>
