<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Solicitudes de Tutoría") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Solicitudes de Tutoría</h1>

<% if @messages.count != 0 %>

  <%= will_paginate @messages %>

  <table>

    <tr style="border: black 2px solid; height: 40px;">
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Estudiante</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Fecha de Solicitud</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
    </tr>

    <% @index = 0 %>
    <% @messages.each do |message| %>
      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><%= @students[@index].first_name %> <%= @students[@index].last_name %></td>
        <td style="border: black 1px solid"> <%= message.created_at.strftime("%F") %> </td>
        <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :thesis, :action => :show_student_thesis, :id_thesis => message.id_thesis}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

      </tr>

      <% @index = @index + 1 %>
    <% end %>

  </table>


  <%= will_paginate @messages %>

<% else %>

  <h3><font color="#82B36F"><b>No posee solicitudes de estudiantes</b></font></h3>

<% end %>
