<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Profesores") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Registrar Profesor</h1>


<%= form_for @teacher do |f| %>

  <%= render 'shared/error_messages' %>

  <table>
    <tr style="height: 40px">
      <td><%= f.label "Nombre" %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Apellido" %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Correo Electrónico" %></td>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Cédula de Identidad" %></td>
      <td><%= f.select(:nationality, options_for_select([['Venezolano', 'Venezolano'], ['Extranjero', 'Extranjero']])) %> </td>
      <td><%= f.text_field :identification_number %></td>
    </tr>

    <%= f.hidden_field :password, :value => "1234" %>

    <tr style="height: 40px">
      <td><%= f.submit "Registrar Profesor", class: "btn btn-success" %></td>
    </tr>

  </table>
<% end %>
