<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Actividades Propuestas") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Actividades Propuestas</h1>

<%= will_paginate @activities %>

<table>

  <tr style="border: black 2px solid; height: 40px;">
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Área</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Título</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
  </tr>

  <% @counter = 0 %>
  <% @activities.each do |activity| %>

    <%= @value = "" %>

    <% if activity.area == "Titulo"
         @value = "Título"
       elsif activity.area == "Planteamiento"
         @value = "Planteamiento del Problema"
       elsif activity.area == "Obj_General"
         @value = "Objetivo General"
       else
         @value = "Objetivos Específicos"
       end %>

    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><%= @value %> </td>
      <td style="border: black 1px solid"> <%= activity.title %> </td>

      <% if @activitiesStudent[@counter].completed == 1 %>

        <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :activities, :action => :show_answered_activity, :id => activity.id, :category => 10}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

      <% else %>

        <td style="border: black 1px solid"><%= link_to "Responder", {:controller => :activities, :action => :answer_activity, :id_activity => activity.id, :category => 10}, {:class => 'btn btn-success', :style => 'width:100px;'} %></td>

      <% end %>

    </tr>

    <% @counter = @counter + 1 %>
  <% end %>

</table>


<%= will_paginate @activities %>
