<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Actividades Propuestas") %>

<% if @area == 0 %>

  <h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Actividades Propuestas para
    Título</h1>

<% elsif @area == 1 %>

  <h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Actividades Propuestas para
    Planteamiento del Problema</h1>

<% elsif @area == 2 %>

  <h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Actividades Propuestas para
    Objetivo General</h1>

<% else %>

  <h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Actividades Propuestas para
    Objetivos Específicos</h1>

<% end %>

<% if @activitiesAdmin.count != 0 %>

  <h3><b>Actividades Propuestas por Coordinación</b></h3>
  <br>

  <%= will_paginate @activitiesAdmin %>

  <table>

    <tr style="border: black 2px solid; height: 40px;">
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Área</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Título</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
    </tr>

    <% @counter = 0 %>
    <% @activitiesAdmin.each do |activity| %>

      <%= @value = "" %>

      <% if activity.area == "Titulo"
           @value = "Título"
         elsif activity.area == "Planteamiento"
           @value = "Planteamiento del Problema"
         elsif activity.area == "Obj_General"
           @value = "Objetivo General"
         else
           @value = "Objetivos Específicos"
         end %>

      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><%= @value %> </td>
        <td style="border: black 1px solid"> <%= activity.title %> </td>

        <% if @activitiesStudentAdmin[@counter].completed == 1 %>

          <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :activities, :action => :show_answered_activity, :id => activity.id, :category => @area}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

        <% else %>

          <td style="border: black 1px solid"><%= link_to "Responder", {:controller => :activities, :action => :answer_activity, :id_activity => activity.id, :category => @area}, {:class => 'btn btn-success', :style => 'width:100px;'} %></td>

        <% end %>

      </tr>

      <% @counter = @counter + 1 %>
    <% end %>

  </table>

  <%= will_paginate @activitiesAdmin %>

<% else %>

  <h3><font color="#BD6158"><b>La Coordinación no tiene actividades propuestas para esta área</b></font></h3>

<% end %>


<% if @activitiesTeacher != nil %>

  <% if @activitiesTeacher.count != 0 %>

    <h3><b>Actividades Propuestas por su Tutor</b></h3>
    <br>

    <%= will_paginate @activitiesTeacher %>

    <table>

      <tr style="border: black 2px solid; height: 40px;">
        <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
          <b style="color: #ffffff">Área</b></th>
        <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
          <b style="color: #ffffff">Título</b></th>
        <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
      </tr>

      <% @counter = 0 %>
      <% @activitiesTeacher.each do |activity| %>

        <%= @value = "" %>

        <% if activity.area == "Titulo"
             @value = "Título"
           elsif activity.area == "Planteamiento"
             @value = "Planteamiento del Problema"
           elsif activity.area == "Obj_General"
             @value = "Objetivo General"
           else
             @value = "Objetivos Específicos"
           end %>

        <tr style="border: black 2px solid; height: 40px;text-align: center;">
          <td style="border: black 1px solid"><%= @value %> </td>
          <td style="border: black 1px solid"> <%= activity.title %> </td>

          <% if @activitiesStudentTeacher[@counter].status == "Completada" %>

            <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :activities, :action => :show_answered_activity, :id => activity.id, :category => @area}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

          <% else %>

            <td style="border: black 1px solid"><%= link_to "Responder", {:controller => :activities, :action => :answer_activity, :id_activity => activity.id, :category => @area}, {:class => 'btn btn-success', :style => 'width:100px;'} %></td>

          <% end %>

        </tr>

        <% @counter = @counter + 1 %>
      <% end %>

    </table>

    <%= will_paginate @activitiesTeacher %>

  <% else %>

    <h3><font color="#BD6158"><b>Su Tutor no tiene actividades propuestas para esta área</b></font></h3>

  <% end %>

<% else %>

  <h3><font color="#BD6158"><b>Su Tutor no tiene actividades propuestas para esta área</b></font></h3>

<% end %>



