<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<script>

    function unCheckAnother(row, select) {

        var i = row.parentNode.parentNode.rowIndex;
        var yesIndex = "checkBoxYes_" + i
        var noIndex = "checkBoxNo_" + i

        var si = document.getElementById(yesIndex)
        var no = document.getElementById(noIndex)

        if (parseInt(select) == 0) {

            if (no.checked) {

                no.checked = false;

            }

        } else {

            if (si.checked) {

                si.checked = false;
            }
        }

        var len = document.getElementById("activity_counterAnswers").value
        var realIndex = (parseInt(i) - 1)
        var result = ""

        for (var index = 0; index <= (parseInt(len) - 1); index++) {

            var yesIndexFor = "checkBoxYes_" + (index + 1)
            var noIndexFor = "checkBoxNo_" + (index + 1)

            if (document.getElementById(yesIndexFor).checked) {

                if (result == "") {

                    result = "Si"

                } else {

                    result = result + "*Si"

                }

            } else {

                if (result == "") {

                    result = "No"

                } else {

                    result = result + "*No"

                }


            }


        }

        document.getElementById("activity_userAnswers").value = result


    }

</script>

<% provide(:title, "Actividad Propuesta") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Actividad Propuesta</h1>

<%= form_for(:activity, url: submit_answers_path) do |f| %>

  <table>

    <tr style="height: 40px">
      <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Área</b></td>

      <%= @value = "" %>

      <% if @activity.area == "Titulo"
           @value = "Título"
         elsif @activity.area == "Planteamiento"
           @value = "Planteamiento del Problema"
         elsif @activity.area == "Obj_General"
           @value = "Objetivo General"
         else
           @value = "Objetivos Específicos"
         end %>

      <td><%= @value %> </td>
    </tr>

    <tr style="height: 40px">
      <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Título</b></td>
      <td><%= @activity.title %></td>
    </tr>

    <tr style="height: 40px">
      <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Descripción</b></td>
      <td><%= @activity.description %></td>
    </tr>

    <tr style="height: 40px">
      <td><h3 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Opciones</h3></td>
    </tr>

  </table>


  <table id="RespuestasTabla">
    <tr style="border: black 2px solid; height: 40px;">
      <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Opción</b></td>
      <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Correcta</b></td>
      <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Incorrecta</b></td>
    </tr>
    <% @index = 1 %>
    <% @answersLoop = "" %>
    <% @answers.each do |answer| %>

      <% if @answersLoop == ""

           @answersLoop = "No"

         else

           @answersLoop = @answersLoop + "*No"

         end %>


      <tr style="border: black 2px solid; height: 40px;text-align: center;">
        <td style="border: black 1px solid"><%= answer.text %></td>
        <td style="border: black 1px solid">
          <input id="<%= "checkBoxYes_" + @index.to_s %>" type="checkbox" onclick="unCheckAnother(this,0);">
        </td>
        <td style="border: black 1px solid">
          <input id="<%= "checkBoxNo_" + @index.to_s %>" type="checkbox" onclick="unCheckAnother(this,1);">
        </td>

      </tr>

      <% @index = @index + 1 %>

    <% end %>

    <%= f.hidden_field :counterAnswers, :value => @answers.count %>
    <%= f.hidden_field :userAnswers, :value => @answersLoop %>
    <%= f.hidden_field :id, :value => @activity.id %>
    <%= f.hidden_field :origin, :value => @origin %>

    <tr style="height: 40px">
      <td><%= f.submit "Enviar Respuestas", class: "btn btn-success" %></td>
    </tr>
    <% if @origin == 10 %>
      <tr style="height: 40px">
        <td>
          <%= link_to "Regresar", {:controller => :activities, :action => :activities_all_student}, {:class => 'btn btn-info'} %>
        </td>
      </tr>
    <% else %>
      <tr style="height: 40px">
        <td>
          <%= link_to "Regresar", {:controller => :activities, :action => :activities_category_student, :area => @origin}, {:class => 'btn btn-info'} %>
        </td>
      </tr>
    <% end %>

  </table>

<% end %>

<br>

