<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<script>

    function deleteRow(row) {

        var value = parseInt(document.getElementById('answer_counter').value);

        if ((value == 0) || (value == 1)) {

            alert("Debe tener al menos una respuesta");

        } else {

            var i = row.parentNode.parentNode.rowIndex;
            document.getElementById('RespuestasTabla').deleteRow(i);

            value = value - 1;
            document.getElementById('answer_counter').value = value

            var x = document.getElementById('RespuestasTabla');
            var len = x.rows.length;

            document.getElementById('activity_answers').value = ""

            for (var index = 1; index <= len; index++) {

                var row = x.rows[index]

                if (document.getElementById('activity_answers').value == "") {

                    document.getElementById('activity_answers').value = row.cells[0].getElementsByTagName('input')[0].value + "%" + row.cells[1].getElementsByTagName('input')[0].value + "%" + row.cells[2].getElementsByTagName('input')[0].value + "%" + row.cells[3].getElementsByTagName('input')[0].value

                } else {

                    document.getElementById('activity_answers').value = document.getElementById('activity_answers').value + "*" + row.cells[0].getElementsByTagName('input')[0].value + "%" + row.cells[1].getElementsByTagName('input')[0].value +  "%" + row.cells[2].getElementsByTagName('input')[0].value + "%" + row.cells[3].getElementsByTagName('input')[0].value

                }


            }

        }


    }


    function insRow(respuesta, correcta) {

        var x = document.getElementById('RespuestasTabla');
        var value = parseInt(document.getElementById('answer_counter').value);

        if (respuesta != "") {


            var new_row = x.rows[1].cloneNode(true);
            var len = x.rows.length;

            var inp1 = new_row.cells[0].getElementsByTagName('input')[0];
            inp1.id += len;
            inp1.value = respuesta;
            var inp2 = new_row.cells[1].getElementsByTagName('input')[0];
            inp2.id += len;
            inp2.value = correcta;

            var inp3 = new_row.cells[2].getElementsByTagName('input')[0];
            inp3.id += len;
            inp3.value = 0;
            var inp4 = new_row.cells[3].getElementsByTagName('input')[0];
            inp4.id += len;
            inp4.value = 0;

            x.appendChild(new_row);

            if (value == 0) {
                document.getElementById('RespuestasTabla').deleteRow(1);

            }

            document.getElementById('answer_text').value = ""
            document.getElementById('answer_correct').value = "Si"

            if (document.getElementById('activity_answers').value == "") {

                document.getElementById('activity_answers').value = respuesta + "%" + correcta + "%0%0";

            } else {

                document.getElementById('activity_answers').value = document.getElementById('activity_answers').value + "*" + respuesta + "%" + correcta + "%0%0";

            }

            value = value + 1;
            document.getElementById('answer_counter').value = value

        } else {

            alert("Debe introducir un texto para la respuesta");

        }


    }

</script>


<% provide(:title, "Actividades") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Editar Actividad</h1>


<%= form_for @activity do |f| %>

  <%= render 'shared/error_activity_messages' %>

  <table>

    <tr style="height: 40px">
      <td><%= f.label "Área" %></td>
      <td><%= f.select(:area, options_for_select([['Título', 'Titulo'], ['Planteamiento del Problema', 'Planteamiento'], ['Objetivo General', 'Obj_General'], ['Objetivos Específicos', 'Obj_Especifico']], :selected => @activity.area)) %> </td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Título" %></td>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Descripción" %></td>
      <td><%= f.text_area(:description, size: '40x10') %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Status" %></td>
      <td><%= f.select(:status, options_for_select([['Pendiente', 'Pendiente'], ['Aprobada', 'Aprobada'], ['Rechazada', 'Rechazada']], :selected => @activity.status)) %> </td>
    </tr>

    <tr style="height: 40px">
      <td><h3>Respuestas</h3></td>
    </tr>


    <tr style="height: 40px">
      <td><label>Respuesta</label></td>
      <td><input type="text" name="answer[text]" id="answer_text"></td>
    </tr>

    <tr style="height: 40px">
      <td><label>Correcta</label></td>
      <td>
        <select name="answer[correct]" id="answer_correct">
          <option value="Si">Si</option>
          <option value="No">No</option>
        </select>
      </td>
    </tr>

    <tr style="height: 40px">
      <td>
        <input value="Agregar Respuesta" class="btn btn-info" data-disable-with="Agregar Respuesta" onclick="insRow(document.getElementById('answer_text').value,document.getElementById('answer_correct').value)">
      </td>
    </tr>

    <%= f.hidden_field :proposed_by, :value => session[:user_id] %>
    <%= f.hidden_field :user_type, :value => 3 %>
    <%= f.hidden_field :id, :value => @activity.id %>

    <% if (@answers.count == 0) %>

      <%= f.hidden_field :answers, :value => "" %>
      <input type="hidden" name="answer[counter]" id="answer_counter" value="0">

    <% else %>

      <input type="hidden" name="answer[counter]" id="answer_counter" value="<%= @answers.count %>">
      <% @valueT = "" %>

      <% @answers.each do |answer| %>

        <% if @valueT == "" %>

          <% @correctTotal = "" %>
          <% @wrongTotal = "" %>


          <% if answer.correct_total.nil? %>

            <% @correctTotal = "0" %>

          <% else %>

            <% @correctTotal = answer.correct_total.to_s %>


          <% end %>

          <% if answer.wrong_total.nil? %>

            <% @wrongTotal = "0" %>

          <% else %>

            <% @wrongTotal = answer.wrong_total.to_s %>


          <% end %>


          <% @valueT = answer.text + "%" + answer.correct + "%" + @correctTotal + "%" + @wrongTotal %>
        <% else %>


          <% @correctTotal = "" %>
          <% @wrongTotal = "" %>


          <% if answer.correct_total.nil? %>

            <% @correctTotal = "0" %>

          <% else %>

            <% @correctTotal = answer.correct_total.to_s %>


          <% end %>

          <% if answer.wrong_total.nil? %>

            <% @wrongTotal = "0" %>

          <% else %>

            <% @wrongTotal = answer.wrong_total.to_s %>


          <% end %>


          <% @valueT = @valueT + "*" + answer.text + "%" + answer.correct + "%" + @correctTotal + "%" + @wrongTotal %>
        <% end %>

      <% end %>

      <%= f.hidden_field :answers, :value => @valueT %>


    <% end %>


    <tr>
      <table id="RespuestasTabla" border="1">
        <tr style="border: black 2px solid; height: 40px;">
          <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
            <b style="color: #ffffff">Respuesta</b></td>
          <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
            <b style="color: #ffffff">Correcta</b></td>
          <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
            <b style="color: #ffffff"># Respondida Correcta</b></td>
          <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
            <b style="color: #ffffff"># Respondida Incorrecta</b></td>
        </tr>
        <% if @answers.count == 0 %>
          <tr style="border: black 2px solid; height: 40px;">
            <td><input size=25 type="text" id="latbox"/></td>
            <td><input size=25 type="text" id="lngbox"/></td>
            <td>
              <input type="button" id="delPOIbutton" value="Eliminar" class="btn btn-danger" onclick="deleteRow(this)"/>
            </td>
          </tr>
        <% else %>
          <% @answers.each do |answer| %>
            <tr style="border: black 2px solid; height: 40px;">
              <td><input size=25 type="text" id="latbox" value="<%= answer.text %>"/></td>
              <td><input size=25 type="text" id="latbox" value="<%= answer.correct %>"/></td>
              <td>

                <% if answer.correct_total.nil? %>

                  <input size=25 type="text" id="latbox" value="0"/>

                <% else %>

                  <input size=25 type="text" id="latbox" value="<%= answer.correct_total %>"/>


                <% end %>


              </td>

              <td>

                <% if answer.wrong_total.nil? %>

                  <input size=25 type="text" id="latbox" value="0"/>

                <% else %>

                  <input size=25 type="text" id="latbox" value="<%= answer.wrong_total %>"/>


                <% end %>


              </td>
              <td>
                <input type="button" id="delPOIbutton" value="Eliminar" class="btn btn-danger" onclick="deleteRow(this)"/>
              </td>
            </tr>
          <% end %>
        <% end %>


      </table>
    </tr>

    <tr><br></tr>

    <tr style="height: 40px">
      <td><%= f.submit "Actualizar Actividad", class: "btn btn-info" %></td>
    </tr>

  </table>
<% end %>
