<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Actividades") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Actividades</h1>

<%= link_to "Registrar Nueva Actividad", {:controller => :activities, :action => :new}, {:class => 'btn btn-success'} %>
<br><br>

<%= will_paginate @activities %>

<table>

  <tr style="border: black 2px solid; height: 40px;">
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Área</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Título</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Estado</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Propuesta por</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
  </tr>
  <% @activities.each do |activity| %>

    <%= @value = "" %>

    <% if activity.area == "Titulo"
         @value = "Título"
       elsif activity.area == "Planteamiento"
         @value = "Planteamiento del Problema"
       elsif activity.area == "Obj_General"
         @value = "Objetivo General"
       else
         @value = "Objetivos Específicos"
       end %>

    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><%= @value %> </td>
      <td style="border: black 1px solid"> <%= activity.title %> </td>
      <td style="border: black 1px solid"> <%= activity.status %> </td>
      <% if activity.user_type == 2 %>

        <% @teachers.each do |teacher| %>

          <% if activity.proposed_by == teacher.id %>

            <td style="border: black 1px solid"> <%= teacher.first_name %> <%= teacher.last_name %></td>
            <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :teachers, :action => :activity_teacher_admin, :id => activity.id, :origin => 1}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

            <% break %>

          <% end %>

        <% end %>

      <% else %>

        <% @admins.each do |admin| %>

          <% if activity.proposed_by == admin.id %>

            <td style="border: black 1px solid"> <%= admin.email %> </td>

            <% if admin.id == session[:user_id] %>

              <td style="border: black 1px solid"> <%= link_to 'Editar', edit_activity_path(activity), {:class => 'btn btn-danger', :style => 'width:100px;'} %> </td>

            <% else %>

              <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :teachers, :action => :activity_teacher_admin, :id => activity.id, :origin => 1}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

            <% end %>


            <% break %>

          <% end %>

        <% end %>

      <% end %>


    </tr>


  <% end %>

</table>


<%= will_paginate @activities %>
