<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Actividades") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Actividades</h1>

<%= link_to "Registrar Nueva Actividad", {:controller => :activities, :action => :new_teacher}, {:class => 'btn btn-success'} %>
<br><br>

<%= will_paginate @activities %>

<table>

  <tr style="border: black 2px solid; height: 40px;">
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Área</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Título</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Estado</b></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
    <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
  </tr>
  <% @activities.each do |activity| %>

    <%= @value = "" %>

    <% if activity.area == "Titulo"
         @value = "Título"
       elsif activity.area == "Planteamiento"
         @value = "Planteamiento del Problema"
       elsif activity.area == "Obj_General"
         @value = "Objetivo General"
       else
         @value = "Objetivos Específicos"
       end %>

    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><%= @value %> </td>
      <td style="border: black 1px solid"> <%= activity.title %> </td>
      <td style="border: black 1px solid"> <%= activity.status %> </td>
      <% if activity.user_type == 2 %>

        <% if activity.status != "Aprobada" %>

          <td style="border: black 1px solid"> <%= link_to 'Editar', {:controller => :activities, :action => :edit_teacher_activity, :id_activity => activity.id}, {:class => 'btn btn-success', :style => 'width:100px;'} %> </td>

        <% else %>

          <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :activities, :action => :show_teacher_activity, :id_activity => activity.id}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

        <% end %>

        <td style="border: black 1px solid"> <%= link_to "Eliminar", {:controller => :activities, :action => :destroy_activity_teacher, :id_activity => activity.id},
                                                         {data: {confirm: "Confirma que desea eliminar este actividad?"}, :class => 'btn btn-danger', :style => 'width:100px;'} %> </td>


      <% end %>


    </tr>


  <% end %>

</table>


<%= will_paginate @activities %>
