<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<script>

    function deleteRow(row) {

        var value = parseInt(document.getElementById('answer_counter').value);

        if ((value == 0) || (value == 1)) {

            alert("Debe tener al menos una respuesta");

        } else {

            var i = row.parentNode.parentNode.rowIndex;
            document.getElementById('RespuestasTabla').deleteRow(i);

            value = value - 1;
            document.getElementById('answer_counter').value = value

            var x = document.getElementById('RespuestasTabla');
            var len = x.rows.length;

            document.getElementById('activity_answers').value = ""

            for (var index = 1; index <= len; index++) {

                var row = x.rows[index]

                if (document.getElementById('activity_answers').value == "") {

                    document.getElementById('activity_answers').value = row.cells[0].getElementsByTagName('input')[0].value + "%" + row.cells[1].getElementsByTagName('input')[0].value

                } else {

                    document.getElementById('activity_answers').value = document.getElementById('activity_answers').value + "*" + row.cells[0].getElementsByTagName('input')[0].value + "%" + row.cells[1].getElementsByTagName('input')[0].value

                }


            }

        }


    }


    function insRow(respuesta, correcta) {

        var x = document.getElementById('RespuestasTabla');
        var value = parseInt(document.getElementById('answer_counter').value);

        if (respuesta != "") {


            var new_row = x.rows[1].cloneNode(true);
            var len = x.rows.length;

            var inp1 = new_row.cells[0].getElementsByTagName('input')[0];
            inp1.id += len;
            inp1.value = respuesta;
            var inp2 = new_row.cells[1].getElementsByTagName('input')[0];
            inp2.id += len;
            inp2.value = correcta;
            x.appendChild(new_row);

            if (value == 0) {
                document.getElementById('RespuestasTabla').deleteRow(1);

            }

            document.getElementById('answer_text').value = ""
            document.getElementById('answer_correct').value = "Si"

            if (document.getElementById('activity_answers').value == "") {

                document.getElementById('activity_answers').value = respuesta + "%" + correcta;

            } else {

                document.getElementById('activity_answers').value = document.getElementById('activity_answers').value + "*" + respuesta + "%" + correcta;

            }

            value = value + 1;
            document.getElementById('answer_counter').value = value

        } else {

            alert("Debe introducir un texto para la respuesta");

        }


    }

</script>


<% provide(:title, "Actividades") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Registrar Actividad</h1>


<%= form_for(:activity, url: create_activity_teacher_path) do |f| %>

  <%= render 'shared/error_activity_messages' %>

  <table>

    <tr style="height: 40px">
      <td><%= f.label "Área" %></td>
      <td><%= f.select(:area, options_for_select([['Título', 'Titulo'], ['Planteamiento del Problema', 'Planteamiento'], ['Objetivo General', 'Obj_General'], ['Objetivos Específicos', 'Obj_Especifico']])) %> </td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Título" %></td>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr style="height: 40px">
      <td><%= f.label "Descripción" %></td>
      <td><%= f.text_area(:description, size: '40x10') %></td>
    </tr>

    <tr style="height: 40px">
      <td><h3 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Respuestas</h3></td>
    </tr>

    <input type="hidden" name="answer[counter]" id="answer_counter" value="0">

    <tr style="height: 40px">
      <td><label>Respuesta</label></td>
      <td><input type="text" name="answer[text]" id="answer_text"></td>
    </tr>

    <tr style="height: 40px">
      <td><label>Correcta</label></td>
      <td>
        <select name="answer[correct]" id="answer_correct">
          <option value="Si">Si</option>
          <option value="No">No</option>
        </select>
      </td>
    </tr>

    <tr style="height: 40px">
      <td>
        <input value="Agregar Respuesta" class="btn btn-info" data-disable-with="Agregar Respuesta" onclick="insRow(document.getElementById('answer_text').value,document.getElementById('answer_correct').value)">
      </td>
    </tr>

    <%= f.hidden_field :answers, :value => "" %>
    <%= f.hidden_field :status, :value => "Pendiente" %>
    <%= f.hidden_field :proposed_by, :value => session[:user_id] %>
    <%= f.hidden_field :user_type, :value => 2 %>


    <tr style="height: 40px">
      <table id="RespuestasTabla" border="1">
        <tr style="border: black 2px solid; height: 40px;">
          <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
            <b style="color: #ffffff">Respuesta</b></td>
          <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
            <b style="color: #ffffff">Correcta</b></td>
        </tr>
        <tr style="border: black 2px solid; height: 40px;text-align: center;">
          <td style="border: black 1px solid"><input size=25 type="text" id="latbox"/></td>
          <td style="border: black 1px solid"><input size=25 type="text" id="lngbox"/></td>
          <td style="border: black 1px solid">
            <input type="button" id="delPOIbutton" value="Eliminar" class="btn btn-danger" onclick="deleteRow(this)"/>
          </td>
        </tr>
      </table>
    </tr>

    <tr><br></tr>

    <tr style="height: 40px">
      <td><%= f.submit "Registrar Actividad", class: "btn btn-success" %></td>
    </tr>

  </table>
<% end %>
