<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Respuesta de Actividad") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Respuesta de Actividad</h1>

<% if @userMistake == 1 %>

  <h3><font color="#BD6158"><b>Lo sentimos, tuviste respuestas equivocadas</b></font></h3>


<% else %>

  <h3><font color="#82B36F"><b>Felicitaciones! Respondiste correctamente todas las preguntas!</b></font></h3>

<% end %>

<table>

  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Área</b></td>

    <%= @value = "" %>

    <% if @activity.area == "Titulo"
         @value = "Título"
       elsif @activity.area == "Planteamiento"
         @value = "Planteamiento del Problema"
       elsif @activity.area == "Obj_General"
         @value = "Objetivo General"
       else
         @value = "Objetivos Específicos"
       end %>

    <td><%= @value %> </td>
  </tr>

  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Título</b></td>
    <td><%= @activity.title %></td>
  </tr>

  <tr style="height: 40px">
    <td style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;"><b>Descripción</b></td>
    <td><%= @activity.description %></td>
  </tr>

  <tr style="height: 40px">
    <td><h3 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Opciones</h3></td>
  </tr>

</table>


<table id="RespuestasTabla">
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Opción</b></td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Correcta</b></td>
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Tu Respuesta</b></td>
  </tr>
  <% @index = 0 %>
  <% @answers.each do |answer| %>

    <tr style="border: black 2px solid; height: 40px;text-align: center;">
      <td style="border: black 1px solid"><%= answer.text %></td>
      <td style="border: black 1px solid">
        <%= answer.correct %>
      </td>

      <% if @answersStudent[@index].correct == "Si" %>

        <td style="border: black 1px solid"><font color="#82B36F"><b>
          Correcto!</b></font>
        </td>

      <% else %>

        <td style="border: black 1px solid"><font color="#BD6158"><b>
          Incorrecto!</b></font>
        </td>

      <% end %>


    </tr>

    <% @index = @index + 1 %>

  <% end %>

  <% if @origin == 10 %>
    <tr style="height: 40px">
      <td>
        <%= link_to "Regresar", {:controller => :activities, :action => :activities_all_student}, {:class => 'btn btn-info'} %>
      </td>
    </tr>
  <% else %>
    <tr style="height: 40px">
      <td>
        <%= link_to "Regresar", {:controller => :activities, :action => :activities_category_student, :area => @origin}, {:class => 'btn btn-info'} %>
      </td>
    </tr>
  <% end %>

</table>

<br>

