<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Actividades") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Consultar Actividad</h1>


<table>

  <tr style="height: 40px">
    <td>Área</td>

    <%
      @area = ""

      if @activity.area == "Titulo"

        @area = "Título"

      elsif @activity.area == "Planteamiento"

        @area = "Planteamiento del Problema"

      elsif @activity.area == "Obj_General"

        @area = "Objetivo General"

      else

        @area = "Objetivos Específicos"

      end %>

    <td><%= @area %>
    </td>
  </tr>

  <tr style="height: 40px">
    <td>Título</td>
    <td><%= @activity.title %></td>
  </tr>

  <tr style="height: 40px">
    <td>Descripción</td>
    <td><%= @activity.description %></td>
  </tr>

  <tr style="height: 40px">
    <td><h3>Respuestas</h3></td>
  </tr>

  <tr>
    <table id="RespuestasTabla" border="1">
      <tr style="border: black 2px solid; height: 40px;">
        <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
          <b style="color: #ffffff">Respuesta</b></td>
        <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
          <b style="color: #ffffff">Correcta</b></td>
        <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
          <b style="color: #ffffff"># Respondida Correcta</b></td>
        <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
          <b style="color: #ffffff"># Respondida Incorrecta</b></td>
      </tr>

      <% @answers.each do |answer| %>
        <tr style="border: black 2px solid; height: 40px;">
          <td style="text-align: center;"><%= answer.text %></td>
          <td style="text-align: center;"><%= answer.correct %></td>

          <td style="text-align: center;">

            <% if answer.correct_total.nil? %>

              0

            <% else %>

              <%= answer.correct_total %>


            <% end %>


          </td>

          <td style="text-align: center;">

            <% if answer.wrong_total.nil? %>

              0

            <% else %>

              <%= answer.wrong_total %>


            <% end %>


          </td>


        </tr>
      <% end %>


    </table>
  </tr>

  <tr><br></tr>

</table>
