<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Reglas") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Reglas de Coordinación</h1>

<table>
  <tr style="height: 50px;text-align: center;">
    <th><%= link_to "Consultar Reglas para Título", {:controller => :rules, :action => :rule_admin, :area => 0}, {:class => 'btn btn-success', :style => 'width:300px;'} %></th>
  </tr>
  <tr style="height: 50px;text-align: center;">
    <th><%= link_to "Consultar Reglas para Planteamiento", {:controller => :rules, :action => :rule_admin, :area => 1}, {:class => 'btn btn-success', :style => 'width:300px;'} %></th>
  </tr>
  <tr style="height: 50px;text-align: center;">
    <th><%= link_to "Consultar Reglas para Objetivo General", {:controller => :rules, :action => :rule_admin, :area => 2}, {:class => 'btn btn-success', :style => 'width:300px;'} %></th>
  </tr>
  <tr style="height: 50px;text-align: center;">
    <th><%= link_to "Consultar Reglas para Objetivos Específicos", {:controller => :rules, :action => :rule_admin, :area => 3}, {:class => 'btn btn-success', :style => 'width:300px;'} %></th>
  </tr>
</table>

<br><br>

<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Reglas de Profesores</h1>

<% if @rules.count != 0 %>

  <%= will_paginate @rules %>

  <table>

    <tr style="border: black 2px solid; height: 40px;">
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Área</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
        <b style="color: #ffffff">Creada por</b></th>
      <th style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;"></th>
    </tr>
    <% @rules.each do |rule| %>

      <% if rule.user_type == 2 %>

        <%= @value = "" %>

        <% if rule.area == "Titulo"
             @value = "Título"
           elsif rule.area == "Planteamiento"
             @value = "Planteamiento del Problema"
           elsif rule.area == "Obj_General"
             @value = "Objetivo General"
           else
             @value = "Objetivos Específicos"
           end %>

        <tr style="border: black 2px solid; height: 40px;text-align: center;">
          <td style="border: black 1px solid"><%= @value %> </td>


          <% @teachers.each do |teacher| %>

            <% if rule.created_by == teacher.id %>

              <td style="border: black 1px solid"> <%= teacher.first_name %> <%= teacher.last_name %></td>
              <td style="border: black 1px solid"><%= link_to "Consultar", {:controller => :rules, :action => :rule_teacher, :id => rule.id}, {:class => 'btn btn-info', :style => 'width:100px;'} %></td>

              <% break %>

            <% end %>

          <% end %>

      <% end %>


      </tr>


    <% end %>

  </table>


  <%= will_paginate @rules %>

<% end %>
