<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>


<% provide(:title, "Reglas") %>
<h1 style="text-align: left; text-decoration: underline; text-decoration-color: #5981b8;">Reglas para sus Aspirantes a
  Tesistas</h1>

<table>
  <tr style="height: 50px;text-align: center;">
    <th><%= link_to "Reglas para Título", {:controller => :rules, :action => :edit_rules_teacher, :area => 0}, {:class => 'btn btn-success', :style => 'width:300px;'} %></th>
  </tr>
  <tr style="height: 50px;text-align: center;">
    <th><%= link_to "Reglas para Planteamiento", {:controller => :rules, :action => :edit_rules_teacher, :area => 1}, {:class => 'btn btn-success', :style => 'width:300px;'} %></th>
  </tr>
  <tr style="height: 50px;text-align: center;">
    <th><%= link_to "Reglas para Objetivo General", {:controller => :rules, :action => :edit_rules_teacher, :area => 2}, {:class => 'btn btn-success', :style => 'width:300px;'} %></th>
  </tr>
  <tr style="height: 50px;text-align: center;">
    <th><%= link_to "Reglas para Objetivos Específicos", {:controller => :rules, :action => :edit_rules_teacher, :area => 3}, {:class => 'btn btn-success', :style => 'width:300px;'} %></th>
  </tr>
</table>

<br><br>

