<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<script>

    function deleteRow(row) {

        var value = parseInt(document.getElementById('keyword_counter').value);

        var i = row.parentNode.parentNode.rowIndex;
        document.getElementById('KeywordsTabla').deleteRow(i);

        value = value - 1;
        document.getElementById('keyword_counter').value = value

        var x = document.getElementById('KeywordsTabla');
        var len = x.rows.length;

        document.getElementById('rule_keywords').value = ""

        for (var index = 1; index <= len; index++) {

            var row = x.rows[index]

            if (document.getElementById('rule_keywords').value == "") {

                document.getElementById('rule_keywords').value = row.cells[0].getElementsByTagName('input')[0].value

            } else {

                document.getElementById('rule_keywords').value = document.getElementById('activity_answers').value + "*" + row.cells[0].getElementsByTagName('input')[0].value + "%" + row.cells[1].getElementsByTagName('input')[0].value

            }


        }


    }


    function insRow(respuesta) {

        var x = document.getElementById('KeywordsTabla');
        var value = parseInt(document.getElementById('keyword_counter').value);

        if (respuesta != "") {


            var new_row = x.rows[1].cloneNode(true);
            var len = x.rows.length;

            var inp1 = new_row.cells[0].getElementsByTagName('input')[0];
            inp1.id += len;
            inp1.value = respuesta;
            x.appendChild(new_row);

            if (value == 0) {
                document.getElementById('KeywordsTabla').deleteRow(1);

            }

            document.getElementById('keyword_text').value = ""

            if (document.getElementById('rule_keywords').value == "") {

                document.getElementById('rule_keywords').value = respuesta;

            } else {

                document.getElementById('rule_keywords').value = document.getElementById('rule_keywords').value + "*" + respuesta;

            }

            value = value + 1;
            document.getElementById('keyword_counter').value = value

        } else {

            alert("Debe introducir un texto para la palabra");

        }


    }

</script>

<% provide(:title, "Regla") %>
<h1>Consultar Regla</h1>


<%= form_for(:rule, url: update_rule_admin_path) do |f| %>

  <%= render 'shared/error_rule_messages' %>

  <table>
    <tr>
      <td>Area</td>
      <td><%= @area %> </td>
    </tr>

    <tr>
      <td><%= f.label "Longuitud" %></td>
      <td><%= f.text_field :lenght %></td>
    </tr>

    <tr>
      <td><br></td>
    </tr>

    <tr>
      <td><h3>Palabras Asociadas</h3></td>
    </tr>

    <% if (@keywords.count == 0) %>

      <input type="hidden" name="keyword[counter]" id="keyword_counter" value="0">
      <%= f.hidden_field :keywords, :value => "" %>

    <% else %>

      <input type="hidden" name="keyword[counter]" id="keyword_counter" value="<%= @keywords.count %>>">
      <% @valueK = "" %>
      <% @keywords.each do |keyword| %>

        <% if @valueK == "" %>
          <% @valueK = keyword.word %>
        <% else %>
          <% @valueK = @valueK + "*" + keyword.word %>
        <% end %>

      <% end %>

      <%= f.hidden_field :keywords, :value => @valueK %>

    <% end %>



    <tr>
      <td><label>Palabra</label></td>
      <td><input type="text" name="keyword[text]" id="keyword_text"></td>
    </tr>

    <tr>
      <td>
        <input value="Agregar Palabra" class="btn btn-primary" data-disable-with="Agregar Palabra" onclick="insRow(document.getElementById('keyword_text').value)">
      </td>
    </tr>


    <%= f.hidden_field :area_value, :value => @areasValue %>
    <%= f.hidden_field :created_by, :value => session[:user_id] %>
    <%= f.hidden_field :user_type, :value => 3 %>

    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>

    <tr>
      <table id="KeywordsTabla" border="1">
        <tr style="border: black 2px solid; height: 40px;">
          <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
            <b style="color: #ffffff">Palabras</b></td>
        </tr>
        <% if (@keywords.count == 0) %>
          <tr>
            <td><input size=25 type="text" id="latbox"/></td>
            <td><input type="button" id="delPOIbutton" value="Eliminar" onclick="deleteRow(this)"/></td>
          </tr>
        <% else %>
          <% @keywords.each do |keyword| %>
            <tr>
              <td><input size=25 type="text" id="latbox" value="<%= keyword.word %>"/></td>
              <td><input type="button" id="delPOIbutton" value="Eliminar" class="btn btn-danger" onclick="deleteRow(this)"/></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </tr>

    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>

    <tr>
      <td><%= f.submit "Actualizar Regla", class: "btn btn-primary" %></td>
    </tr>

  </table>
<% end %>
