<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% provide(:title, "Regla de Profesor") %>
<h1>Regla propuesta por Profesor para sus Tesistas</h1>

<table>

  <tr>
    <td style="width: 200px;">Área</td>

    <%= @value = "" %>

    <% if @rule.area == "Titulo"
         @value = "Título"
       elsif @rule.area == "Planteamiento"
         @value = "Planteamiento del Problema"
       elsif @rule.area == "Obj_General"
         @value = "Objetivo General"
       else
         @value = "Objetivos Específicos"
       end %>

    <td><%= @value %> </td>
  </tr>
  <tr style="width: 200px;">
    <td>Cantidad de carácteres</td>

    <td><%= @rule.lenght %> </td>
  </tr>

  <tr>
    <td><h3>Palabras</h3></td>
  </tr>

</table>

<%= will_paginate @keywords %>

<table border="1">
  <tr style="border: black 2px solid; height: 40px;">
    <td style="border: black 1px solid; text-align: center; background: #5981B8; width: 200px;">
      <b style="color: #ffffff">Palabras</b></td>
  </tr>
  <% @keywords.each do |keyword| %>
    <tr>
      <td><%= keyword.word %></td>
    </tr>
  <% end %>
</table>

<br>

