<div style="background: #5981B8">
  <% if session[:user_type] == 1 %>

    <h3 style="color: #ffffff; text-align: center">Menú de Estudiante</h3>

    <br>
    <br>

    <p align="center">

      <%= image_tag "noun_317504_cc.png", style: 'height:80px;width:100px;center' %>

      <br>
      <br>

      <%= link_to "" + session[:username], {:controller => :internal, :action => :internal_student_information, :id => session[:user_id]}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>

    </p>


    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to "Trabajo de Grado", {:action => 'index_student', :controller => "thesis"}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to " Actividades", {:action => 'activities_all_student', :controller => "activities"}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to "Cerrar Sesión", {:controller => :sessions, :action => :destroy}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

  <% end %>

  <% if session[:user_type] == 2 %>

    <h3 style="color: #ffffff; text-align: center">Menú de Profesor</h3>

    <br>
    <br>

    <p align="center">

      <%= image_tag "noun_317504_cc.png", style: 'height:80px;width:100px;center' %>

      <br>
      <br>

      <%= link_to "" + session[:username], {:controller => :internal, :action => :internal_teacher_information, :id => session[:user_id]}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>

    </p>


    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to "Actividades", {:controller => :activities, :action => :index_teacher}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to " Aspirantes a Tesista", {:controller => :students, :action => :students_teacher_list}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to "Solicitudes de Tutoría", {:controller => :teachers, :action => :list_students_requets}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to "Reglas", {:controller => :rules, :action => :index_teacher_rules}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to "Cerrar Sesión", {:controller => :sessions, :action => :destroy}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

  <% end %>

  <% if session[:user_type] == 3 %>

    <h3 style="color: #ffffff; text-align: center">Menú de Administrador</h3>

    <br>
    <br>

    <p align="center">

      <%= image_tag "noun_317504_cc.png", style: 'height:80px;width:100px;center' %>

      <br>
      <br>

      <%= link_to "" + session[:username], {:controller => :internal, :action => :internal_admin_information, :id => session[:user_id]}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>

    </p>


    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to "Profesores", {:controller => :teachers, :action => :index}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to " Estudiantes", {:controller => :students, :action => :index}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to "Actividades", {:controller => :activities, :action => :index}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to "Reglas", {:controller => :rules, :action => :index}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>

    <div class="row" style="color: #ffffff; text-align: center">
      <br>
      <br>

      <%= link_to "Cerrar Sesión", {:controller => :sessions, :action => :destroy}, {:style => 'color:#FFFFFF;'} %>

      <br>
      <br>
    </div>


  <% end %>


</div>