<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>


<% if current_page?(controller: 'sessions', action: 'create') || current_page?(controller: 'sessions', action: 'new') || current_page?(controller: 'password_resets', action: 'new') || current_page?(controller: 'password_resets', action: 'edit') %>

  <%= yield %>

<% else %>

  <% if session[:user_type] == nil %>

    <script type="text/javascript">
        window.location.href = "/unathorized"
    </script>

  <% else %>

    <div class="col-md-3" style="background: #5981B8; height: 100%">
      <%= yield :sidebar %>
    </div>

    <div class="col-md-7">
      <%= yield %>

    </div>

  <% end %>

<% end %>


</body>
</html>